@charset "utf-8";

/* 방송국홈:방송국정보 */
.bcast_info{position:relative;width:100%;min-width:auto;height:275px;background-color:#101112;background-position:50% 0;background-repeat:no-repeat;background-size:960px auto}
.bcast_info .bcast_txt{position:absolute;top:152px;left:17px;width:auto}
.bcast_info .bcast_txt h2{width:144px;height:65px}
.bcast_info .bcast_txt h2 img{width:100%;height:100%}
.bcast_info .bcast_txt .slogan{display:inline-block;margin-top:9px;font-size:12px;font-weight:bold;color:#ffffff}
.bcast_info .bcast_txt .company{display:inline-block;position:relative;margin-top:5px;margin-left:7px}
.bcast_info .bcast_txt .company a{position:relative;padding-right:12px;background-position:100% 4px;font-size:12px;font-weight:bold;color:#979798;text-decoration:underline}
.bcast_info .bcast_txt .company a:after{top:50%;left:auto;right:0;width:6px;height:11px;margin-top:-5px;background-position:-25px -12px}
.info_gra{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:linear-gradient(to top,#101112 0,transparent 100%);opacity:1}

/* 방송국홈:방송국채널 */
.bcast_chn{position:relative;width:100%;min-width:auto;background:#101112}
.bcast_chn .bcast_chn_snv{overflow:hidden;position:relative;width:auto;height:44px;margin:0 auto;border-bottom:1px solid rgba(255,255,255,0.05)}
.bcast_chn .bcast_chn_snv .bcast_chn_lst{overflow:hidden;position:absolute;top:0;left:0;width:9999999999px;height:44px}
.bcast_chn .bcast_chn_snv .bcast_chn_lst li{float:left;width:auto;margin:0 8px;text-align:center}
.bcast_chn .bcast_chn_snv .bcast_chn_lst li:first-child{margin-left:8px}
.bcast_chn .bcast_chn_snv .bcast_chn_lst li.on a{border-bottom:1px solid #286ffa;color:#ffffff;line-height:44px}
.bcast_chn .bcast_chn_snv .bcast_chn_lst li a{display:inline-block;height:43px;margin:0;padding:0 8px;font-size:15px;color:#979798;line-height:46px}
.bcast_chn .slide_bnr{overflow:hidden;position:relative;width:auto;height:auto;padding:20px 17px 10px}
.bcast_chn .slide_bnr .swiper-container{overflow:hidden;position:relative;width:100%;height:auto}
.bcast_chn .slide_bnr .swiper-container .swiper-wrapper{overflow:hidden;position:relative;width:9999999999999px;height:100%}
.bcast_chn .slide_bnr .swiper-container .swiper-wrapper li{float:left;height:100%}
.bcast_chn .slide_bnr .swiper-container .swiper-wrapper li img{width:100%;height:auto}
.bcast_chn .slide_bnr .pagenum{position:absolute;bottom:3px;left:0;z-index:10;width:100%;text-align:center}
.bcast_chn .slide_bnr .pagenum:after{content:'';display:block;clear:both}
.bcast_chn .slide_bnr .pagenum .swiper-active-switch{background:#ffffff}
.bcast_chn .slide_bnr .pagenum .swiper-pagination-switch{display:inline-block;width:6px;height:6px;margin:0 2px;border:1px solid #ffffff;border-radius:100%}
/* 방송국홈:동영상제목 */
.bcast_cnt{position:relative;width:auto;background:#101112}
.bcast_cnt .tit_area{position:relative;width:auto;margin:0 17px}
.bcast_cnt .tit_area h4{padding:38px 0 16px;border-top:1px solid #1c1c1d;font-size:19px;font-weight:bold;color:#ffffff;line-height:21px;letter-spacing:-1px}
.bcast_cnt .tit_area h4 em{display:inline-block;padding-left:10px;color:#286ffa;font-weight:normal}
.bcast_cnt .tit_area .btn_allview{position:absolute;top:41px;right:0;width:58px;padding-right:10px;background-position:100% 3px;font-size:12px;color:#838588;text-align:right}
.bcast_cnt .tit_area .btn_allview:after{top:4px;left:auto;right:0;width:5px;height:9px;background-position:-33px -12px}
/* 방송국홈:동영상아이템공통 */
.bcast_cnt .video_area{position:relative;margin:0 auto 40px}
.bcast_cnt .video_area .video_lst .video_item{position:relative;min-height:71px;padding:2px 0 18px 143px;font-size:0}
.bcast_cnt .video_area .video_lst .video_item a{display:flex}
.bcast_cnt .video_area .video_lst .video_item .video_thumb{position:absolute;top:0;left:0;width:130px;height:73px;background:#17191a}
.bcast_cnt .video_area .video_lst .video_item .video_thumb img{width:100%;height:100%}
.bcast_cnt .video_area .run_time{position:absolute;bottom:0;right:0;z-index:20;padding:3px 7px 2px;background:rgba(0,0,0,.5);font-size:12px;color:rgba(255,255,255,.8)}
.bcast_cnt .video_area .video_lst .video_item .video_info{display:inline-block;position:relative;width:100%;font-size:0}
.bcast_cnt .video_area .video_lst .video_item .desc{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-word;max-height:35px;padding-right:17px;font-size:14px;color:#e6e8eb;line-height:18px}
.bcast_cnt .video_area .video_lst .video_item .program{display:inline-block;margin-top:4px;font-size:13px;color:#7ca6f7;line-height:15px}
.bcast_cnt .video_area .video_item .video_count{line-height:0;vertical-align:top}
.bcast_cnt .video_area .video_item .video_count p{display:inline-block;position:relative;margin-top:3px;font-size:13px;color:#838588;line-height:13px;vertical-align:top}
.bcast_cnt .video_area .video_item .video_count .view{padding-left:13px}
.bcast_cnt .video_area .video_item .video_count .view:after{top:50%;left:0;width:9px;height:10px;margin-top:-5px;background-position:-214px -134px}
.bcast_cnt .video_area .video_item .video_count .like{margin-left:8px;padding-left:14px}
.bcast_cnt .video_area .video_item .video_count .like:after{top:50%;left:0;width:11px;height:10px;margin-top:-5px;background-position:-225px -134px}
.bcast_cnt .video_area .video_item .video_option{position:absolute;top:2px;right:-6px;width:15px;height:19px;font-size:0}
.bcast_cnt .video_area .video_item .video_option:after{position:absolute;top:0;bottom:auto;right:0;width:15px;height:19px;background-position:-226px 0;font-size:0}
.bcast_cnt .more_area{position:relative;width:100%;padding-bottom:37px;text-align:center}
.bcast_cnt .btn_more{position:relative;width:63px;padding-right:18px;font-size:14px;font-weight:bold;color:#e6e8eb;line-height:16px}
.bcast_cnt .btn_more:after{top:5px;left:47px;width:13px;height:8px;background-position:-40px -12px}
/* 방송국홈:슬라이드동영상공통 */
.video_slide_wrap{width:100%}
.bcast_cnt .video_area .video_slider_lst{padding-left:17px;}
.bcast_cnt .video_area .video_slider_lst .video_item{position:relative;float:left;width:auto;margin-left:0}
.bcast_cnt .video_area .video_slider_lst a{display:block;width:272px;}
.bcast_cnt .video_area .video_slider_lst .video_item .video_thumb{position:relative;background:#17191a}
.bcast_cnt .video_area .video_slider_lst .video_item .video_thumb .img{display:block}
.bcast_cnt .video_area .video_slider_lst .video_item .video_thumb img{width:100%}
.bcast_cnt .video_area .video_slider_lst .video_item .video_info{display:table-cell;min-width:120px;height:59px;margin-left:143px;vertical-align:middle}
.bcast_cnt .video_area .video_slider_lst .video_item .desc{overflow:hidden;width:100%;margin-top:10px;font-size:14px;color:#e6e8eb;line-height:20px;text-overflow:ellipsis;white-space:nowrap}
.bcast_cnt .video_area .video_slider_lst .video_item .program{display:inline-block;float:left;margin-top:2px;padding-right:12px;font-size:12px;color:#7ca6f7;line-height:14px}
.bcast_cnt .video_area .video_slider_lst .video_item .video_count{float:left;margin:1px 0 0}
/* 방송국홈:인기동영상 */
.bcast_cnt .rising_video{margin-bottom:0;padding-bottom:39px;background:url('../img/bg_rising_video.gif') 0 100% repeat-x}
.bcast_cnt .rising_video h4{padding:29px 0 16px;border-top:0}
.bcast_cnt .video_area.rising_video .video_slider_lst a{display:block;width:290px;}
/* 방송국홈:주목할만한동영상 */
.bcast_cnt .worth_video{margin-bottom:38px}
.bcast_cnt .worth_video .tit_area h4{padding:38px 0 16px;border-top:0}
.bcast_cnt .worth_video .worth_video_lst{height:auto;margin:0 17px}
.bcast_cnt .worth_video .video_item .video_count{margin-top:1px}
/* 방송국홈:인기채널 */ 
.bcast_cnt .rising_channel{overflow:hidden;position:relative;width:auto;margin:0 0 21px}
.bcast_cnt .rising_channel .tit_area h4 em{padding-left:6px}
.bcast_cnt .rising_channel .rising_channel_lst{overflow:hidden;margin-top:5px;padding:0 17px}
.bcast_cnt .rising_channel .rising_channel_lst li{float:none;position:relative;width:auto;height:82px;margin-bottom:0}
.bcast_cnt .rising_channel .rising_channel_lst li a{display:table}
.bcast_cnt .rising_channel .rising_channel_lst li .thumb{display:inline-block;width:62px;height:62px}
.bcast_cnt .rising_channel .rising_channel_lst li .thumb img{width:100%;height:100%;border-radius:150px}
.bcast_cnt .rising_channel .rising_channel_lst .channel_txt{display:table-cell;height:100%;padding:0 20px 0 10px;vertical-align:middle}
.bcast_cnt .rising_channel .rising_channel_lst .channel_txt .channel{display:inline-block;overflow:hidden;width:auto;height:17px;font-size:16px;color:#e6e8eb;line-height:18px}
.bcast_cnt .rising_channel .rising_channel_lst .channel_txt .time{display:block;margin-top:4px;font-size:12px;color:#838588;line-height:12px}
/* 방송국홈:업데이트동영상 */
.bcast_cnt .update_video{margin-bottom:32px}
.bcast_cnt .update_video .update_video_lst{margin:0 17px}
.bcast_cnt .update_video .video_item .video_count{margin-top:1px}
/* 방송국엔드 */
.bcast_cnt .bcast_tab_wrap{margin:0 17px}
.bcast_cnt .bcast_tab{width:auto;margin:0 auto;padding-top:20px}
.bcast_cnt .bcast_tab:after{content:'';display:block;clear:both}
.bcast_cnt .bcast_tab li{float:left;width:50%;height:42px}
.bcast_cnt .bcast_tab li a{display:block;border:1px solid #202122;border-radius:0 5px 5px 0;color:#787879;line-height:40px;text-align:center}
.bcast_cnt .bcast_tab li:first-child a{border-radius:5px 0 0 5px}
.bcast_cnt .bcast_tab li.on a{background:#202122;font-weight:bold;color:#e6e8eb}
.bcast_cnt .bcast_all{margin-bottom:32px;padding-top:67px}
.bcast_cnt .bcast_all .bcast_all_lst{margin:0 17px}
.bcast_cnt .bcast_all.rising_channel{margin-bottom:12px;padding-top:62px}
.bcast_cnt .bcast_sort{position:absolute;top:27px;right:17px}
.bcast_cnt .bcast_sort:after{content:'';display:block;clear:both}
.bcast_cnt .bcast_sort li{float:left;position:relative;margin-left:28px;font-size:13px;line-height:15px}
.bcast_cnt .bcast_sort li:after{display:inline-block;content:'';position:absolute;top:50%;left:50%;width:1px;height:11px;margin-top:-6px;margin-left:-35px;background:none;border-right:1px solid #28292a}
.bcast_cnt .bcast_sort li:first-child:after{border-right:0}
.bcast_cnt .bcast_sort li a{color:#909191}
.bcast_cnt .bcast_sort li.on a{color:#e6e8eb}
/* 방송국엔드:동영상탭 */
.bcast_cnt .bcast_all_lst .video_item .video_count{margin-top:1px}
/* 프로그램홈:방송국정보 */
.bcast_program_info{position:relative;width:100%;min-width:320px;height:276px;background-color:#101112;background-position:50% 0;background-repeat:no-repeat}
.bcast_program_info .info_wrap{position:absolute;top:79px;left:0;width:100%;margin-left:0;color:#ffffff}
.bcast_program_info .info_wrap .h2_tit{position:relative;width:fit-content;margin-left:16px}
.bcast_program_info .info_wrap .h2_tit .img{display:block;margin-left:1px}
.bcast_program_info .info_wrap .h2_tit .logo{width:70px;border-radius:150px}
.bcast_program_info .info_wrap .h2_tit .program_area{display:inline-block;margin-top:17px}
.bcast_program_info .info_wrap .h2_tit .program_area .program{display:inline-block;overflow:hidden;position:relative;max-width:300px;font-size:25px;font-weight:bold;line-height:27px;text-overflow:ellipsis;white-space:nowrap}
.bcast_program_info .info_wrap .h2_tit .program_area .bcast_link{display:inline-block;position:relative;margin-top:2px;font-size:0;vertical-align:top}
.bcast_program_info .info_wrap .h2_tit .program_area .bcast_link:after{width:23px;height:23px;background-position:0 0}
.bcast_program_info .info_wrap .info_area{margin:8px 20px 0 16px;font-size:13px}
.bcast_program_info .info_wrap .info_area:after{content:'';display:block;clear:both}
.bcast_program_info .info_wrap .info_area .info_lst{float:left}
.bcast_program_info .info_wrap .info_area .info_lst li{margin-top:6px;font-size:13px;line-height:15px}
.bcast_program_info .info_wrap .info_area .info_lst li span{display:inline-block;}
.bcast_program_info .info_wrap .info_area .info_lst .stit{width:42px;color:#ffffff}
.bcast_program_info .info_wrap .info_area .info_lst .con{color:#a4a6ab}
.bcast_program_info .info_wrap .info_area .btn_follow{float:right;position:relative;right:0;height:34px;margin:7px 0 0;padding:0 18px 0 30px;background:#286ffa;border-radius:25px;font-size:12px;line-height:32px;color:#ffffff}
.bcast_program_info .info_wrap .info_area .btn_follow:after{top:12px;left:17px;width:9px;height:9px;background-position:-25px 0}
.bcast_program_info .info_wrap .info_area .btn_follow.on{border:1px solid #1a376f;background:transparent;color:#286ffa}
.bcast_program_info .info_wrap .info_area .btn_follow.on:after{width:11px;background-position:-44px -115px}
/* 프로그램홈:인기동영상 */
.bcast_cnt .video_area.program_rising_video .video_item{position:relative}
.bcast_cnt .video_area.program_rising_video .video_thumb{position:relative;width:auto;background:#17191a}
.bcast_cnt .video_area.program_rising_video .video_thumb .img{display:inline-block;width:100%;height:100%}
.bcast_cnt .video_area.program_rising_video .video_thumb .img img{width:100%;height:100%}
.bcast_cnt .video_area.program_rising_video .video_thumb .btn_play{position:absolute;top:50%;left:50%;z-index:30;width:60px;height:60px;margin-left:-30px;margin-top:-30px;font-size:0}
.bcast_cnt .video_area.program_rising_video .video_thumb .btn_play:after{top:0;left:0;width:60px;height:60px;background-position:0 -25px}
.bcast_cnt .video_area.program_rising_video .video_item{padding:40px 17px 0}
.bcast_cnt .video_area.program_rising_video .video_item .video_info{position:relative;margin-top:14px}
.bcast_cnt .video_area.program_rising_video .video_item .video_info .desc{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-word;max-height:40px;padding-right:14px;font-size:16px;font-weight:normal;color:#ffffff;line-height:22px}
.bcast_cnt .video_area.program_rising_video .video_item .video_count{margin:9px 0 0 0}
.bcast_cnt .video_area.program_rising_video .video_item .video_count .like{margin-left:16px}
.bcast_cnt .video_area.program_rising_video .video_item .video_option{top:1px}
/* 프로그램홈:주목할만한동영상 */
.bcast_cnt.program_main .tit_area h4{border-top:1px solid #1c1c1d}
.bcast_cnt.program_main .video_area .video_lst .video_item .desc{max-height:40px;font-size:15px;line-height:20px}
/* 프로그램홈:tv동영상 */
.bcast_cnt .video_area.tvprogram .video_lst{margin:0 17px}
.bcast_cnt .video_area.tvprogram .video_lst .video_item{margin-left:0}
.bcast_cnt.program_main .video_item .video_count{margin-top:5px}
.bcast_cnt.program_main .tvprogram{margin-bottom:32px}
/* 프로그램:동영상탭 */
.bcast_cnt .video_area.program_video{margin-bottom:32px;padding:65px 17px 0}
.bcast_cnt .video_area.program_video .bcast_sort{top:26px}
.bcast_cnt .video_area.program_video .video_item .desc{max-height:40px;font-size:15px;line-height:20px}
.bcast_cnt .video_area.program_video .video_count{margin:8px 0 0 0}
/* 프로그램:재생목록탭 */
.bcast_cnt .program_history_wrap{position:relative;margin-bottom:13px}
.bcast_cnt .program_history_wrap .history_video:first-child .tit_area h4{padding-top:39px;border-top:0}
.bcast_cnt .video_area.history_video{margin-bottom:39px}
.bcast_cnt .video_area.history_video:first-child{border-top:0}
.bcast_cnt .video_area.history_video .tit_area h4{padding-top:38px}
.bcast_cnt .video_area.history_video .video_slider_lst a{width:155px;}
.bcast_cnt .video_area.history_video .video_item .video_thumb{position:relative;width:155px;height:87px}
.bcast_cnt .video_area.history_video .video_item .video_dimd{display:none;position:absolute;top:0;left:0;z-index:30;width:100%;height:100%;background:#000000;opacity:0.5}
.bcast_cnt .video_area.history_video .video_item .watched{display:none;position:absolute;top:0;left:0;z-index:40;height:21px;padding:0 8px;background:#3d6dd9;font-size:11px;color:#ffffff;line-height:20px}
.bcast_cnt .video_area.history_video .video_item .ranking{position:absolute;bottom:0;left:0;z-index:30;height:21px;padding:0 8px;background:#33569b;font-family:helvetica;font-size:11px;color:#ffffff;line-height:20px}
.bcast_cnt .video_area.history_video .video_item .desc{display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:break-word;width:155px;height:38px;margin-top:9px;font-size:14px;line-height:18px;text-overflow:clip;white-space:normal}
.bcast_cnt .video_area.history_video .video_item .video_count{margin:3px 0 0 0}
.bcast_cnt .video_area.history_video .video_item .video_option{bottom:-1px}
.bcast_cnt .video_area.history_video .video_item.on .video_dimd,
.bcast_cnt .video_area.history_video .video_item.on .watched{display:block}
.bcast_cnt .history_video_wrap .btn_more{bottom:20px}
.bcast_cnt.program_history .more_area{margin-top:-6px}

/* 동영상옵션 팝업 */
.popup_option{display:none;position:fixed;top:50%;left:50%;z-index:100;margin:-64px 0 0 -106px;background:#fff;border-radius:3px}
.popup_option .option_lst {padding:0}
.popup_option .option_lst li{position:relative;}
.popup_option .option_lst li a{display:block;position:relative;width:144px;padding-left:50px;border-top:1px solid #e6e7e7;color:#101112;text-align:left}
.popup_option .option_lst li:first-child a{border-top:0;border-radius:3px 3px 0 0}
.popup_option .option_lst li:last-child a{border-radius:0 0 3px 3px}
.popup_option .option_lst li:nth-child(1):after{top:15px;left:21px;width:13px;height:16px;background-position:-75px 0}
.popup_option .option_lst li:nth-child(2):after{top:17px;left:21px;width:15px;height:16px;background-position:-90px 0}
.popup_option .option_lst li:nth-child(3):after{top:18px;left:22px;width:12px;height:12px;background-position:-107px 0}

@media screen and (max-width:320px){
	.programchn .bcast_chn_snv .bcast_chn_lst li{margin:0 26px}
}