@charset "utf-8";

/* 공통 */
.content{width:1200px;margin:0 auto}

/* 회원가입 */
.signup_cnt{width:460px;margin:0 auto}
.signup_cnt .h3_tit{display:block;margin-top:95px;padding-bottom:24px;border-bottom:1px solid #989898;font-size:40px;color:#000000;line-height:42px;text-align:center}
.signup_content .profile_area{position:relative;width:124px;margin:50px auto;text-align: center}
.signup_content .profile_area .thumb{width:124px;height:124px;border-radius:15px}
.signup_content .profile_area .profile_change{position:absolute;top:87px;left:89px;width:38px;height:38px;font-size:0;cursor:pointer}
.signup_content .profile_area .profile_change:after{content:'';display:block;width:38px;height:38px;background-position:-178px 0}
.signup_content .profile_area .profile_change_inp{position:absolute;top:0;left:0;clip:rect(0,0,0,0);width:38px;height:38px}
.signup_content .nickname_area{margin-top:45px}
.signup_content .nickname_area .tit{font-size:14px;color:#838588}
.signup_content .nickname_area .nickname_box{position:relative;padding:12px 51px 12px 0}
.signup_content .nickname_area .info .nickname_box{border-bottom:1px solid #e6e8eb}
.signup_content .nickname_area .edit .nickname_box{border-bottom:1px solid #286ffa}
.signup_content .nickname_area .error .nickname_box{border-bottom:1px solid #ff040a}
.signup_content .nickname_area .nickname_box .nickname{font-size:26px;font-weight:700;line-height:30px}
.signup_content .nickname_area .nickname_box .nickname.inp_wrap{margin-right:0;}
.signup_content .nickname_area .nickname_box .inp_nickname{width:100%;height:28px;border:0;font-size:26px;font-weight:700;line-height:30px;letter-spacing:-2px;}
.signup_content .btn_area{margin-top:40px}
.signup_content .btn_area .btn_join{display:inline-block;width:100%;height:60px;background:#dbdde2;border-radius:2px;font-size:18px;font-weight:700;color:#a4a6ab;line-height:60px;text-align:center}
.signup_content .btn_area .btn_join.on{background:#3365da;color:#ffffff}
.signup_content .terms_area{margin-top:40px}
.signup_content .terms_area .btn_allagree{position:relative;width:100%;height:60px;padding-left:20px;border:1px solid #d0d3d6;border-radius:2px;font-size:18px;color:#6b6d71;line-height:58px}
.signup_content .terms_area .btn_allagree:after{content:'';display:block;position:absolute;top:24px;left:184px;width:14px;height:10px;background-position:-220px 0}
.signup_content .terms_area .btn_allagree:hover{border-color:#6b6d71}
.signup_content .terms_area .btn_allagree.on{border:1px solid #286ffa;color:#286ffa}
.signup_content .terms_area .btn_allagree.on:after{background-position:-220px -14px}
.signup_content .terms_area .terms_lst{margin-top:25px}
.signup_content .terms_area .terms_lst li:first-child{margin-top:0}
.signup_content .terms_area .terms_lst li{position:relative;height:20px;margin-top:13px;font-size:13px;color:#6b6d71;line-height:20px}
.signup_content .terms_area .terms_lst li .chk{position:absolute;top:3px;left:4px;z-index:0}
.signup_content .terms_area .terms_lst li label{display:inline-block;position:relative;z-index:10;padding-left:30px;background:url('../img/icon_chk_off.png') 0 0 no-repeat;cursor:pointer}
.signup_content .terms_area .terms_lst li label.on{background:url('../img/icon_chk_on.png') 0 0 no-repeat}
.signup_content .terms_area .terms_lst li .essential{display:inline-block;padding-left:6px;color:#fa2828}
.signup_content .terms_area .terms_lst li .terms_view{position:absolute;top:0;right:10px;font-size:13px;color:#6b6d71;text-decoration:underline}
.signup_content .nickname_guide{margin-top:11px}
.signup_content .nickname_guide li{padding-left:6px;background:url('../img/blt_dot.gif') 0 8px no-repeat;font-size:13px;color:#838588;line-height:18px}
.signup_content .error .nickname_guide li{background:url('../img/blt_dot_red.gif') 0 8px no-repeat;color:#ff040a}
.signup_content .nickname_area .btn_area{position:absolute;bottom:10px;right:0}
.signup_content .nickname_area .btn_area button{height:32px;margin-left:2px;padding:0 10px;border:1px solid #d0d3d6;border-radius:2px;line-height:30px;text-align:center}
.signup_content .nickname_area .btn_area button:hover{border-color:#000000}
/* MY저장한목록보기 */
.mylist{margin:56px auto 0}
.mylist .h3_tit{font-size:26px;font-weight:700;color:#000000;line-height:28px}
.mylist .tab_wrap{margin-top:15px}
.mylist .mylist_tab_lst{width:100%;border-bottom:1px solid #e4e4e4}
.mylist .mylist_tab_lst:after{content:'';display:block;clear:both}
.mylist .mylist_tab_lst li{float:left;position:relative;height:41px;margin-right:28px;padding:0 5px;font-size:16px;color:#6b6d71;line-height:39px}
.mylist .mylist_tab_lst li a{color:#6b6d71}
.mylist .mylist_tab_lst li sup{padding-left:2px;font-size:13px;font-weight:700;line-height:10px}
.mylist .mylist_tab_lst li:first-child{border-top:0}
.mylist .mylist_tab_lst li.on{margin-bottom:-1px;border-bottom:1px solid #286ffa;font-weight:700}
.mylist .mylist_tab_lst li.on a{color:#000000}
.mylist .mylist_tab_lst li .new{display:block;position:absolute;top:7px;right:-13px;width:16px;height:16px;font-size:0}
.mylist .mylist_tab_lst li .new:after{top:0;left:0;width:16px;height:16px;background-position:-151px -22px}
.mylist .mylist_tab_lst li:first-child .new{right:-14px}

/* MY저장한목록보기:공통 */
.mysave .mylist_cnt{margin-top:35px}
.mylist_cnt li.list_item .video_option{display:none;position:absolute;top:2px;right:-3px;width:10px;height:17px;font-size:0}
.mylist_cnt li.list_item .video_option:after{top:0;left:3px;width:5px;height:17px;background-position:-124px -36px;font-size:0}
.mylist_cnt li.list_item .tit_area{position:relative}
.mylist_cnt li.list_item .tit_area:hover .story_tit{text-decoration:underline}
.mylist_cnt li.list_item .tit_area:hover .video_option{display:block}
.mylist_cnt.tv_savelist li.list_item .hover:hover .video_option{display:block}
/*.loading{margin-top:-10px}*/
.loading{position:fixed;bottom:35px;left:0;right:0;margin:0;padding:0;text-align:center}
.loading span{display:inline-block;width:32px;height:32px;background:url(../img/loading_w.gif) no-repeat;text-indent:-9999px}
/* MY저장한목록보기:저장:TV */
.tv_savelist .mylist_cnt_lst{overflow:hidden;margin-left:-20px;font-size:0}
.tv_savelist li.list_item{display:inline-block;position:relative;width:285px;margin:0 0 44px 20px;height:225px;border-top:1px solid #f1f1f1}
.tv_savelist li.list_item .video_thumb{display:block;overflow:hidden;position:relative;width:285px;height:159px;background:#f5f5f5}
.tv_savelist li.list_item .video_thumb .img{width:100%;height:100%}
.tv_savelist li.list_item .video_thumb .run_time{position:absolute;bottom:0;right:0;z-index:20;padding:5px 5px 4px 6px;background:rgba(0,0,0,0.5);font-family:arial;font-size:11px;color:rgba(255,255,255,0.9)}
.tv_savelist li.list_item .video_thumb .video_play{display:none;position:absolute;top:0;left:0;z-index:30;width:100%;height:100%;background-color:rgba(0,0,0,0.3)}
.tv_savelist li.list_item .video_thumb .video_play:after{content:'';display:block;position:absolute;top:50%;left:50%;width:30px;height:40px;margin:-20px 0 0 -15px;background-position:-237px 0}
.tv_savelist li.list_item .desc{display:block;overflow:hidden;max-height:39px;margin:10px 25px 0 0;font-size:14px;color:#000000;line-height:20px}
.tv_savelist li.list_item .video_info{margin-top:9px}
.tv_savelist li.list_item .video_info .program{display:inline-block;overflow:hidden;max-width:200px;height:14px;font-size:13px;color:#578df6;line-height:14px;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle}
.tv_savelist li.list_item .video_info .view{display:inline-block;position:relative;height:14px;margin-left:12px;padding-left:11px;font-family:arial;font-size:12px;color:#838588;line-height:14px;vertical-align:middle}
.tv_savelist li.list_item .video_info .view:after{top:50%;left:0;width:8px;height:10px;margin-top:-5px;background-position:-100px 0}
.tv_savelist li.list_item .video_thumb:hover .video_play{display:block}
/* MY저장한목록보기:저장:스토리 */
.story_savelist .story_savelist_lst{width:900px}
.story_savelist li.list_item{position:relative;height:138px;margin:0 0 24px 0}
.story_savelist li.list_item .thumb{position:absolute;top:0;left:0;width:226px;height:136px;border:1px solid rgba(0,0,0,0.1);border-radius:5px}
.story_savelist li.list_item .thumb .img{width:100%;height:100%;border-radius:5px}
.story_savelist li.list_item .tit_area{display:block;padding-right:45px}
.story_savelist li.list_item .story_info{position:relative;margin-left:257px}
.story_savelist li.list_item .story_info .story_tit{display:block;overflow:hidden;width:100%;max-height:36px;padding-top:20px;font-size:18px;font-weight:bold;color:#000000;line-height:21px;text-overflow:ellipsis;white-space:nowrap}
.story_savelist li.list_item .story_info .story_desc{display:block;overflow:hidden;width:100%;max-height:40px;margin-top:7px;font-size:14px;color:#a4a6ab;line-height:20px}
.story_savelist li.list_item .story_info .curator{display:inline-block;margin-top:11px;font-size:13px;color:#578df6;line-height:15px}
.story_savelist li.list_item .video_option{top:23px;right:15px}
.story_savelist li.list_item.noimg{height:126px;margin-bottom:0}
.story_savelist li.list_item.noimg .story_info{position:relative;margin-left:0}
.story_savelist li.list_item.noimg .story_info .story_tit{padding-top:3px}
.story_savelist li.list_item.noimg .video_option{top:6px;right:14px}
.story_savelist .loading{margin-right:300px;}
/* MY저장한목록보기:팔로잉:공통 */
.mylist.myfollow{overflow:hidden}
.mylist.myfollow .mylist_cnt_lst{position:relative;right:-1px;background:url(../img/bg_line.gif) 0 100% repeat}
.mylist.myfollow .mylist_cnt_lst:after{content:'';display:block;clear:both}
.mylist.myfollow .mylist_cnt_lst li.mylist_item{display:table;position:relative;float:left;border-collapse:collapse;width:50%;height:130px;border-right:1px solid #f1f1f1;box-sizing:border-box}
.mylist.myfollow .mylist_cnt_lst li.mylist_item .video_thumb{position:absolute;top:20px;left:30px}
.mylist.myfollow .mylist_cnt_lst li.mylist_item .video_thumb .img{width:90px;height:90px;border-radius:150px}
.mylist.myfollow .mylist_cnt_lst li.mylist_item .video_txt{display:table-cell;height:130px;padding:0 220px 0 140px;vertical-align:middle}
.mylist.myfollow .mylist_cnt_lst li.mylist_item .video_txt .program{display:block;width:100%;max-height:38px;margin-top:5px;font-size:15px;font-weight:700;color:#000000;overflow:hidden;text-overflow:ellipsis;white-space:normal;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.mylist.myfollow .mylist_cnt_lst li.mylist_item .video_txt .program:hover{text-decoration:underline}
.mylist.myfollow .mylist_cnt_lst li.mylist_item .video_txt .curator{margin-top:5px;font-size:13px;color:#838588}
.mylist.myfollow .mylist_cnt_lst li.mylist_item .btn_follow{display:inline-block;position:absolute;top:50%;right:60px;height:40px;margin-top:-20px;padding:0 18px 0 30px;background:#286ffa;border:1px solid #286ffa;border-radius:20px;font-size:14px;color:#ffffff;line-height:38px;text-align:left}
.mylist.myfollow .mylist_cnt_lst li.mylist_item .video_txt .newvideo{margin-top:5px;font-size:13px;color:#286ffa}
.mylist.myfollow .mylist_cnt_lst li.mylist_item .btn_follow:after{top:16px;left:20px;width:7px;height:7px;background-position:-166px 0}
.mylist.myfollow .mylist_cnt_lst li.mylist_item .btn_follow.on{background:#ffffff;border:1px solid #d0dbf0;color:#286ffa;text-align:center}
.mylist.myfollow .mylist_cnt_lst li.mylist_item .btn_follow.on:after{left:17px;width:9px;height:8px;background-position:-166px -10px}
/* MY저장한목록보기:저장목록없음 */
.nolist{width:100%;padding:131px 0 125px;border-bottom:1px solid #e4e4e4;text-align:center}
.nolist .nolist_txt{position:relative;padding-top:70px;font-size:18px;color:#a4a6ab;line-height:24px;text-align:center}
.nolist .nolist_txt:after{top:0;left:50%;width:40px;height:50px;margin-left:-20px;background-position:-60px -140px}
.nolist .btn_link{display:inline-block;position:relative;margin-top:30px;padding-right:9px;font-size:15px;color:#286ffa;line-height:17px}
.nolist .btn_link:after{top:4px;right:0;width:6px;height:10px;background-position:-166px -40px}
.nolist .btn_link:hover{color:#286ffa;}
.nolist.follow{padding-top:131px}
.nolist.follow .nolist_txt{position:relative;padding-top:72px;line-height:24px}
.nolist.follow .nolist_txt:after{top:0;left:50%;width:50px;height:50px;margin-left:-20px;background-position:0 -192px}

/* 이용약관,개인정보보호정책 */
.ruls .content{width:1024px;margin-top:56px;padding-bottom:40px;border-bottom:1px solid rgba(0,0,0,0.08)}
.ruls .h2_tit{padding-bottom:33px;font-size:26px;font-weight:bold;color:#000000;line-height:28px}
.ruls.terms .h2_tit{padding-bottom:37px}
.ruls .tit_type1_wrap{margin-bottom:23px}
.ruls .tit_type2_wrap{margin:7px 0 12px}
.ruls .cont_wrap{margin-bottom:30px}
.ruls .tit_type1{padding-bottom:11px;font-size:16px;font-weight:bold;color:#000000;line-height:18px}
.ruls .tit_type1 em{font-size:14px}
.ruls .tit_type2{padding-bottom:5px;font-size:13px;font-weight:bold;color:#000000;line-height:15px}
.ruls .txt_cont{font-size:13px;color:#6b6d71;line-height:22px}

/* 설정 */
.setting_cnt .content{width:460px;margin:49px auto 0}
.setting_cnt .h3_tit{display:block;padding-bottom:12px;border-bottom:1px solid #989898;font-size:26px;font-weight:bold;color:#000000;line-height:42px;text-align:center}
.setting_content{padding:42px 0 92px}
.setting_content li{position:relative}
.setting_content li .set_tit{font-size:17px;color:#000000;line-height:32px}
.setting_content li button{width:69px;border:1px solid #d0d3d6;border-radius:1px;font-size:13px;color:#000000;line-height:30px}
.setting_content li button:hover{border-color:#000000}
.setting_content li.profile_area .btn_profile_edit{position:absolute;top:0;right:2px}
.setting_content li.alarm_area{margin-top:31px}
.setting_content li.alarm_area .set_guide{padding-top:8px;font-size:13px;color:#838588;line-height:18px}
.setting_content li.alarm_area .update_alarm{position:absolute;top:6px;right:0}
.setting_content li.alarm_area .update_alarm span{position:relative;margin-left:25px}
.setting_content li.alarm_area .update_alarm .chk{position:absolute;top:3px;left:4px;z-index:0}
.setting_content li.alarm_area .update_alarm label{display:inline-block;position:relative;z-index:10;padding-left:26px;background:url('../img/icon_chk3_off.png') 0 0 no-repeat;font-size:15px;color:#000000;line-height:20px;cursor:pointer}
.setting_content li.alarm_area .update_alarm label.on{background:url('../img/icon_chk3_on.png') 0 0 no-repeat}
.setting_content li.leave_area{margin-top:37px}
.setting_content li.leave_area .btn_mem_leave{position:absolute;top:0;right:2px}
.setting_cnt .footer{border-top:1px solid #e4e4e4}

/* 서비스탈퇴 */
.memleave_cnt .content{width:460px;margin:49px auto 0}
.memleave_cnt .h3_tit{display:block;padding-bottom:12px;border-bottom:1px solid #989898;font-size:26px;font-weight:bold;color:#000000;line-height:42px;text-align:center}
.memleave_content{padding:46px 0 92px}
.memleave_content .txt{font-size:17px;color:#000000;line-height:24px}
.memleave_content .memleave_guide{margin-top:32px}
.memleave_content .memleave_guide li{padding-left:9px;background:url('../img/blt_dot.gif') 0 7px no-repeat;font-size:13px;color:#838588;line-height:18px}
.memleave_content .btn_area{margin-top:56px;text-align:right;}
.memleave_content .btn_area button{width:221px;height:58px;border:1px solid #286ffa;border-radius:2px;font-size:18px;line-height:20px;text-align:center;box-sizing:content-box}
.memleave_content .btn_mem_leave{background:#fff;color:#286ffa;float:left;}
.memleave_content .btn_cancel{background:#286ffa;color:#fff}
.memleave_cnt .footer{border-top:1px solid #e4e4e4}

/* 탈퇴 완료 */
.memleave_complete_cnt .content{width:460px;margin:139px auto 0}
.memleave_complete_cnt .h3_tit{display:block;padding-bottom:7px;font-size:26px;font-weight:bold;color:#000000;line-height:42px;text-align:center}
.memleave_complete_cnt .memleave_content{padding:0 0 92px}
.memleave_complete_cnt .txt{font-size:17px;color:#6b6d71;line-height:24px;text-align:center;}
.memleave_complete_cnt .memleave_content .btn_area{margin-top:63px;text-align:center;}
.memleave_complete_cnt .memleave_content .btn_home{background:#286ffa;color:#ffffff;}

/* 로그인 */
.login_cnt .content{width:460px;margin:90px auto 0;text-align:center}
.login_cnt .h3_tit{font-size:40px;color:#000000;line-height:42px}
.login_cnt .txt{padding-top:14px;font-size:16px;color:#a4a6ab;line-height:18px}
.login_cnt .btn_area{margin-top:50px}
.login_cnt .btn_area button{position:relative;width:460px;height:60px;margin-top:20px;font-size:18px;line-height:60px}
.login_cnt .btn_area button:after{top:21px;left:25px;width:14px;height:21px;border-radius:1px}
.login_cnt .btn_area .btn_paco_login{background:#fa2828;border:1px solid #fa2828;color:#ffffff}
.login_cnt .btn_area .btn_paco_login:after{background-position:-347px -158px}
.login_cnt .btn_area .btn_facebook_login{background:#ffffff;border:1px solid #3e60aa;color:#3e60aa}
.login_cnt .btn_area .btn_facebook_login:after{top:19px;background-position:-365px -158px}
.login_cnt .mem_join{margin-top:80px;padding-top:26px;border-top:1px solid rgba(0,0,0,0.08);font-size:13px;color:#6b6d71;text-align:center}
.login_cnt .mem_join a{display:inline-block;padding-left:7px;color:#000000}
.login_cnt .mem_join a:hover{text-decoration:underline}

/* 공지사항 */
.notice_cnt .content{width:1024px;margin:56px auto 0}
.notice_cnt .h3_tit{font-size:26px;font-weight:bold;color:#000000;line-height:28px}
.notice_lst{margin-top:39px;border-top:2px solid #000000;border-bottom:1px solid #000000}
.notice_lst li{border-top:1px solid #e6e8eb}
.notice_lst li:first-child{border-top:0}
.notice_lst li .notice_subject{display:inline-block;position:relative;width:100%;padding:17px 130px 20px 24px;box-sizing:border-box;}
.notice_lst li .notice_subject.icon{padding-left:80px;padding-bottom:18px}
.notice_lst li .notice_subject.icon:after{top:19px;left:24px;width:41px;height:41px;background-position:-347px -181px}
.notice_lst li .notice_subject .subject_tit{overflow:hidden;max-height:109px;font-size:15px;color:#000000;line-height:22px;vertical-align:top}
.notice_lst li .notice_subject .subject_date{padding-top:7px;font-size:13px;color:#a4a6ab;line-height:15px}
.notice_lst li .notice_subject .btn_view{position:absolute;top:50%;right:24px;margin-top:-6px;font-size:0;width:21px;height:11px}
.notice_lst li .notice_subject .btn_view:after{top:0;left:0;width:21px;height:11px;background-position:-322px -192px}
.notice_lst li.on .notice_subject .btn_view:after{background-position:-322px -207px}
.notice_lst li.on .notice_cont{display:block}
.notice_lst li .notice_cont{display:none;padding:17px 60px 19px 24px;background:rgba(107,109,113,0.03);border-top:1px solid #e6e8eb;font-size:13px;color:#555555;line-height:20px}
.notice_cnt .footer{min-width:1024px;margin-top:80px;border-top:1px solid #e4e4e4}

/* FAQ */
.faq_cnt .content{width:1024px;margin:56px auto 0}
.faq_cnt .h3_tit{font-size:26px;font-weight:700;color:#000000;line-height:28px}
.faq_cnt .tab_wrap{margin-top:15px}
.faq_cnt .tab_lst{width:100%;height:42px;border-bottom:1px solid #e4e4e4}
.faq_cnt .tab_lst:after{content:'';display:block;clear:both}
.faq_cnt .tab_lst li{float:left;position:relative;height:42px;margin-right:24px;padding:0 4px;font-size:16px;color:#6b6d71;line-height:39px}
.faq_cnt .tab_lst li sup{padding-left:2px;font-size:11px;font-weight:700;line-height:10px}
.faq_cnt .tab_lst li a{color:#6b6d71}
.faq_cnt .tab_lst li.on{border-bottom:1px solid #286ffa;font-weight:700}
.faq_cnt .tab_lst li.on a{color:#000000}
.faq_cnt .faq_iframe{width:1024px;height:740px;padding-bottom:60px}
.faq_cnt .footer{min-width:1024px;margin-top:80px;border-top:1px solid #e4e4e4}

/* 옵션팝업 */
.tv_savelist .popup_option{top:23px;left:auto;right:0}
.tv_savelist .popup_share{top:23px;left:auto;right:0}
.story_savelist .popup_option{top:45px;left:auto;right:16px}
.story_savelist .popup_share{top:45px;left:auto;right:16px}

@-moz-document url-prefix() {
	.mylist.myfollow .mylist_cnt_lst li.mylist_item .video_txt .program{display:block}
}