<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frontier.records.api.recommend.mapper.RecommendMapper">
  <select id="selectAllRecommendMusic" resultType="com.frontier.records.api.recommend.model.RecommendMusic">
    SELECT
      m.music_id AS musicId,
      m.music_title AS musicTitle,
      m.music_url AS musicUrl,
      m.music_image AS musicImage,
      m.running_time AS runningTime,

      a.artist_id AS artistId,
      a.artist_name AS artistName,

      (SELECT count(*) FROM like_moment lm WHERE lm.music_id = m.music_id) AS totalLikeCount
    FROM music m

    INNER JOIN artist a ON a.artist_id = m.artist_id
      AND a.deleted = 0
      AND a.disabled = 0

    WHERE 1=1
    AND m.deleted = 0
    AND m.disabled = 0
    ORDER BY m.register_datetime DESC
    LIMIT #{startOffset}, #{size}
  </select>

  <select id="selectOneRecommendMusicCount" resultType="long">
    SELECT COUNT(*)
    FROM music m
    WHERE 1=1
    AND m.deleted = 0
    AND m.disabled = 0
  </select>
</mapper>