<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.frontier.records.api.mapper.TagMapper">
  <select id="selectAutoCompleteTags" resultType="com.frontier.records.api.model.Tag">
    SELECT
      t.tag_id,
      t.tag_name,
      t.deleted,
      t.register_datetime,
      t.modify_datetime
    FROM tag t
    WHERE t.tag_name LIKE CONCAT(#{word},'%')
    ORDER BY t.tag_name ASC
    LIMIT #{maxSize}
  </select>
</mapper>