@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button{margin:0;padding:0}
html,body{height:100%;-webkit-text-size-adjust:none}
body{font-family:AppleSDGothicNeo, Helvetica, '맑은 고딕', dotum, 돋움, sans-serif;font-size:14px}
h1,h2,h3,h4,h5,h6{font-weight:normal}
fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
button,textarea{font-family:AppleSDGothicNeo, Helvetica, '맑은 고딕', dotum, 돋움, sans-serif}
button::-moz-focus-inner{padding:0;border:0}
button span{position:relative}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{color:#000000;text-decoration:none}
table{border-collapse:collapse;border-spacing:0}
hr{display:none}
strong,b{font-weight:bold}
textarea{resize:none}
input:focus,textarea:focus,button:focus{outline:none}

/* layout */
.wrap{position:relative;width:100%;height:100%}
.container{position:relative;background:#ffffff}
.content{position:relative;}

.error {width:100%;height:100%; padding-bottom:71px; box-sizing:border-box; text-align:center;}
.error .container {position:relative; width:100%; height:100%;}
.error .container .content {position:absolute; top:50%; width:100%; padding:0 25px; box-sizing:border-box; transform:translateY(-50%);}
.error .container .content h3 {color:#4a4a4a; font-size:24px; font-weight:700; line-height:29px;}
.error .container .content .txt {margin-top:11px; font-size: 15px; line-height: 1.27; color: #a4a4a4;}
@media screen and (max-width:350px){
	.error .container .content .txt {letter-spacing:-2.1px;}
}
@media screen and (min-width:351px) and (max-width:360px){
	.error .container .content .txt {letter-spacing:-1px;}
}
.error .btn_area {position:absolute; bottom:0; left:0; right:0; width:100%; height:71px; padding:0 25px; box-sizing:border-box;}
.error .btn_area button {width:100%; height:52px; margin-bottom:9px; border:1px solid #286ffa; border-radius:2px; box-sizing:border-box; background:#fff;}
.error .btn_area button span {display: inline-block;font-size:16px;line-height: 19px;text-align:left;color:#286ffa;}
.error .btn_area button.refresh span {padding-left:26px;background: url(../img/icon_error_refresh.png) no-repeat 0 0;background-size:18px 20px;}
.error .btn_area button.cancel {background:#286ffa;}
.error .btn_area button.cancel span {color:#fff; font-weight:700;}
.error .br {display:block}
@media screen and (min-width:500px){
		.error .br {display:inline}
}

.error.network {min-height:325px;}
.error.network .container .content h3 {height:29px; padding:154px 0 0 0; background:url(../img/icon_error_failure.png) no-repeat center 0; background-size:146px 128px;}
.error.adult {min-height:399px; padding-bottom:132px;}
.error.adult .container .content {padding:0 30px;}
.error.adult .container .content h3 {min-height:28px; margin-top:5px; padding:134px 0 0 0; background:url(../img/icon_error_19.png) no-repeat center 0; background-size:108px 108px; color:#002828; font-size:23px; line-height:28px; letter-spacing:-2px;}
.error.adult .btn_area {height:132px;}
.error.service {min-height:325px;}
.error.service .container .content h3 {min-height:29px; padding:127px 0 0 0; background:url(../img/icon_error_service.png) no-repeat center 0; background-size:99px 101px;}


