/* 로그인 */
.login_cnt .content {
    margin: 120px 0 0;
    text-align: center
}

.login_cnt .h3_tit {
    width: 165px;
    height: 36px;
    margin: 0 auto;
    padding: 0;
    background: url(../img/logo_login.png) no-repeat 0 0;
    background-size: cover;
    font-size: 0;
    overflow: hidden;
    text-indent: -99999px;
}

.login_cnt .txt {
    padding-top: 16px;
    font-size: 18px;
    color: #000;
    line-height: 21px;
}

.login_cnt .btn_area {
    margin: 82px 34px 0
}

.login_cnt .btn_area button {
    position: relative;
    width: 100%;
    height: 52px;
    margin-top: 12px;
    font-size: 16px;
    line-height: 52px
}

.login_cnt .btn_area button:after {
    top: 13px;
    left: 15px;
    width: 24px;
    height: 24px;
    border-radius: 1px
}

.login_cnt .btn_area .btn_paco_login {
    background: #fa2828;
    border: 1px solid #fa2828;
    color: #ffffff
}

.login_cnt .btn_area .btn_paco_login:after {
    background-position: -184px -186px
}

.login_cnt .btn_area .btn_login {
    background: #97fffc;
    border: 1px solid rgba(62, 96, 170, 0);
    color: #1816aa
}

.login_cnt .btn_area .btn_facebook_login {
    background: #ffffff;
    border: 1px solid #3e60aa;
    color: #3e60aa
}

.login_cnt .btn_area .btn_facebook_login:after {
    background-position: -210px -186px
}

.login_cnt .mem_join {
    margin: 32px 0 35px;
    font-size: 13px;
    color: #6b6d71;
    text-align: center
}

.login_cnt .mem_join a {
    display: inline-block;
    padding-left: 6px;
    font-weight: bold;
    color: #000000
}

.login_cnt .input_area {
    padding: 30px 25px 0 24px
}

.login_cnt .input_area .tit {
    text-align: left;
    font-size: 15px;
    color: #838588
}

.login_cnt .input_area .input_box {
    position: relative;
    padding: 0 0 0 0
}

.login_cnt .input_area .input_wrap {
    margin-top: 3px
}

.login_cnt .input_area .input_wrap.info .input_box {
    border-bottom: 1px solid #e6e8eb
}

.login_cnt .input_area .input_wrap.edit .input_box {
    border-bottom: 1px solid #286ffa
}

.login_cnt .input_area .input_wrap.error .input_box {
    border-bottom: 1px solid #ff040a
}

.login_cnt .input_area .input_box .input {
    overflow: hidden;
    height: 40px;
    font-size: 19px;
    line-height: 40px
}

.login_cnt .input_area .input_box .input.inp_wrap {
    margin-right: 0
}

.login_cnt .input_area .input_box .input_email {
    overflow-y: hidden;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    font-size: 19px;
    color: #000000;
    line-height: 23px;
    vertical-align: middle
}

.login_cnt .input_area .input_box .input_email::-webkit-input-placeholder {
    color: #ccced3
}

@media screen and (max-width: 350px) {
    .login_cnt .input_area .input_box .input_email {
        letter-spacing: -1px;
    }
}

.login_cnt .input_area .input_guide {
    margin-top: 11px
}

.login_cnt .input_area .input_guide li {
    padding-left: 10px;
    background: url('../img/blt_dot.gif') 0 8px no-repeat;
    font-size: 13px;
    color: #838588;
    line-height: 18px
}

.login_cnt .input_area .input_guide li.error {
    background: url('../img/blt_dot_red.gif') 0 8px no-repeat;
    color: #ff040a
}

.login_cnt .input_area .btn_area {
    position: absolute;
    bottom: 6px;
    right: 0
}

.login_cnt .input_area .btn_area button {
    height: 28px;
    margin-left: 2px;
    padding: 0 10px;
    border: 1px solid #d0d3d6;
    border-radius: 2px;
    font-size: 13px;
    line-height: 12px;
    text-align: center
}

/* 회원가입 */
.signup_cnt .header {
    height: 44px;
}

.signup_cnt .header .h1_tit { /*border-bottom:1px solid rgba(0,0,0,0.1)*/
}

.signup_content .content {
    width: 100%
}

.signup_content .h3_tit {
    display: block;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #000000;
    border-color: rgba(0, 0, 0, 0.1);
    font-size: 17px;
    color: #000000;
    line-height: 42px;
    text-align: center
}

.signup_content .profile_area {
    position: relative;
    width: 124px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center
}

.signup_content .profile_area .thumb {
    width: 124px;
    height: 124px;
    border-radius: 150px
}

.signup_content .profile_area .profile_change {
    position: absolute;
    top: 116px;
    left: 86px;
    width: 38px;
    height: 38px;
    font-size: 0;
    cursor: pointer
}

.signup_content .profile_area .profile_change:after {
    content: '';
    display: block;
    width: 38px;
    height: 38px;
    background-position: -150px -69px
}

.signup_content .profile_area .profile_change_inp {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0, 0, 0, 0);
    width: 38px;
    height: 38px
}

.signup_content .input_area {
    padding: 30px 25px 0 24px
}

.signup_content .input_area .tit {
    font-size: 15px;
    color: #838588
}

.signup_content .input_area .input_box {
    position: relative;
    padding: 0 0 0 0
}

.signup_content .input_area .input_wrap {
    margin-top: 3px
}

.signup_content .input_area .input_wrap.info .input_box {
    border-bottom: 1px solid #e6e8eb
}

.signup_content .input_area .input_wrap.edit .input_box {
    border-bottom: 1px solid #286ffa
}

.signup_content .input_area .input_wrap.error .input_box {
    border-bottom: 1px solid #ff040a
}

.signup_content .input_area .input_box .input {
    overflow: hidden;
    height: 40px;
    font-size: 19px;
    line-height: 40px
}

.signup_content .input_area .input_box .input.inp_wrap {
    margin-right: 0
}

.signup_content .input_area .input_box .input_email {
    overflow-y: hidden;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    font-size: 19px;
    color: #000000;
    line-height: 23px;
    vertical-align: middle
}

.signup_content .input_area .input_box .input_email::-webkit-input-placeholder {
    color: #ccced3
}

@media screen and (max-width: 350px) {
    .signup_content .input_area .input_box .input_email {
        letter-spacing: -1px;
    }
}

.signup_content .input_area .input_guide {
    margin-top: 11px
}

.signup_content .input_area .input_guide li {
    padding-left: 10px;
    background: url('../img/blt_dot.gif') 0 8px no-repeat;
    font-size: 13px;
    color: #838588;
    line-height: 18px
}

.signup_content .input_area .input_guide li.error {
    background: url('../img/blt_dot_red.gif') 0 8px no-repeat;
    color: #ff040a
}

.signup_content .input_area .btn_area {
    position: absolute;
    bottom: 6px;
    right: 0
}

.signup_content .input_area .btn_area button {
    height: 28px;
    margin-left: 2px;
    padding: 0 10px;
    border: 1px solid #d0d3d6;
    border-radius: 2px;
    font-size: 13px;
    line-height: 12px;
    text-align: center
}

.signup_content .terms_area {
    padding: 30px 25px 100px 24px
}

.signup_content .terms_area .btn_allagree {
    position: relative;
    width: 100%;
    height: 52px;
    padding-left: 20px;
    border: 1px solid #d0d3d6;
    border-radius: 2px;
    font-size: 16px;
    color: #6b6d71;
    line-height: 50px
}

.signup_content .terms_area .btn_allagree .blt_allagree {
    display: inline-block
}

.signup_content .terms_area .btn_allagree .blt_allagree:after {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    left: -16px;
    width: 14px;
    height: 10px;
    background-position: -63px -18px
}

.signup_content .terms_area .btn_allagree.on {
    border: 1px solid #286ffa;
    color: #286ffa
}

.signup_content .terms_area .btn_allagree.on .blt_allagree:after {
    background-position: -78px -18px
}

.signup_content .terms_area .terms_lst {
    margin-top: 26px
}

.signup_content .terms_area .terms_lst li {
    position: relative;
    margin-top: 15px;
    padding-right: 42px;
    font-size: 13px;
    color: #6b6d71;
    line-height: 22px
}

.signup_content .terms_area .terms_lst li:first-child {
    max-height: 40px;
    margin-top: 0
}

.signup_content .terms_area .terms_lst li .chk {
    position: absolute;
    top: 3px;
    left: 4px;
    z-index: 0
}

.signup_content .terms_area .terms_lst li label {
    display: inline-block;
    position: relative;
    z-index: 10;
    min-height: 24px;
    padding-left: 30px;
    background: url('../img/icon_chk_off.png') 0 0 no-repeat;
    background-size: 24px auto;
    cursor: pointer
}

.signup_content .terms_area .terms_lst li label.on {
    background: url('../img/icon_chk_on.png') 0 0 no-repeat;
    background-size: 24px auto
}

.signup_content .terms_area .terms_lst li .essential {
    display: inline-block;
    color: #fa2828
}

.signup_content .terms_area .terms_lst li .terms_view {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    color: #6b6d71;
    text-decoration: underline
}

.signup_content .btn_join {
    display: inline-block;
    position: fixed;
    bottom: 0;
    z-index: 20;
    width: 100%;
    height: 54px;
    background: #dbdde2;
    font-size: 18px;
    color: #a4a6ab;
    line-height: 52px;
    text-align: center
}

.signup_content .btn_join.on {
    background: #286ffa;
    color: #ffffff
}