@charset "utf-8";
.flag_best,.comment_lst .btn_like:before{display:inline-block;overflow:hidden;background:url(../img/sp.png) no-repeat;background-size:250px auto;width:1px;height:1px;font-size:1px;color:transparent;text-indent:-9999px}

/* 배너 */
.bnr_area{display:inline-block;position:relative;width:100%;text-align:center}
.bnr_area img{max-width:375px}
@media screen and (max-width:320px){
	.bnr_area img{max-width:320px}
}
/* 브릿지_상세*/
.content.storybridge{background:#ffffff}
.storybridge_story{margin-bottom:-1px;padding-top:19px;border-bottom:1px solid rgba(0,0,0,0.2)}
.storybridge_story .story_info{position:relative;height:32px;margin:0 17px}
.storybridge_story .story_info .curator{display:inline-block;position:relative;height:32px;}
.storybridge_story .story_info .curator .img{position:absolute;top:0;left:0;width:32px;height:32px;border-radius:150px}
.storybridge_story .story_info .curator .name{display:inline-block;margin-left:42px;font-size:15px;font-weight:bold;color:#000000;line-height:17px}
.storybridge_story .story_info .curator .date{margin:2px 0 0 42px;font-size:12px;color:#a4a6ab;line-height:14px}
.storybridge_story .story_info .curator.comm_leave .name{margin-top:5px;color:#a4a6ab;}
.storybridge_story .story_info .curator.comm_leave .date{display:none;}
.storybridge_story .story_cnt{padding:22px 17px 0 17px}
.storybridge_story .story_cnt .story_tit{font-size:24px;font-weight:bold;color:#000000;line-height:30px}
.storybridge_story .story_cnt .story_cont{margin-top:14px;font-size:16px;color:#000000;line-height:24px}
.storybridge_story .story_cnt .story_cont img{width:auto; max-width:700px !important; height:auto !important;}
.storybridge_story .story_cnt .origin_thumb{display:block;position:relative;margin-top:16px;border-radius:4px}
.storybridge_story .story_cnt .origin_thumb:after{display:block;content:'';position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;border:1px solid rgba(0,0,0,0.05);border-radius:4px;box-sizing:border-box;box-shadow:0 2px 6px 0 rgba(0,0,0,0.1)}
.storybridge_story .story_cnt .origin_thumb .img{width:100%;border-radius:4px 4px 0 0}
.storybridge_story .story_cnt .origin_thumb .origin_cont{position:relative;top:0;z-index:11;padding:13px 0 17px 15px;background:#ffffff;border-radius:0 0 4px 4px}
.storybridge_story .story_cnt .origin_thumb .origin_cont .site{font-size:11px;line-height:13px;color:rgba(0,0,0,.4)}
.storybridge_story .story_cnt .origin_thumb .origin_cont .cont_tit{margin-top:4px;padding-right:17px;font-size:17px;font-weight:bold;line-height:19px}
.storybridge_story .story_cnt .hashtag{margin-top:17px;font-size:15px;font-weight:bold;line-height:24px}
.storybridge_story .story_cnt .hashtag a{display:inline-block;margin-right:8px;color:#6b6d71}
.storybridge_story .story_cnt .story_count{margin-top:25px}
.storybridge_story .story_cnt .story_count p{display:inline-block;margin-right:10px;font-size:13px;color:#000000;line-height:15px}
.storybridge_story .likeit_action{position:relative;width:100%;height:50px;margin-top:15px;border-top:1px solid #f2f2f2}
.storybridge_story .likeit_action:after{content:'';display:block;clear:both;top:20px;left:50%;width:1px;height:17px;background:#ebebeb}
.storybridge_story .likeit_action li{position:relative;float:left;width:50%;line-height:50px;text-align:center}
.storybridge_story .likeit_action li button{position:relative;padding-left:29px;font-size:15px;line-height:22px}
.storybridge_story .likeit_action li button:after{top:-2px;left:0;width:24px;height:24px}
.storybridge_story .likeit_action .btn_like:after{background-position:-106px -108px}
.storybridge_story .likeit_action .btn_hate:after{background-position:-158px -108px}
.storybridge_story .likeit_action .btn_like.on{color:#fa2828}
.storybridge_story .likeit_action .btn_hate.on{color:#000000}
.storybridge_story .likeit_action .btn_like.on:after{background-position:-132px -108px}
.storybridge_story .likeit_action .btn_hate.on:after{background-position:-184px -108px}
/* 브릿지_댓글 */
.comment_area{padding:0 17px 65px}
.comment_area .thumb{overflow:hidden;position:absolute;top:7px;left:0;width:32px;height:32px;border-top-left-radius:50%;border-top-right-radius:50%;border-bottom-right-radius:50%;border-bottom-left-radius:50%}
.comment_area .thumb img{width:100%;height:100%}
.comment_stit{height:23px;margin-bottom:2px;font-size:17px;font-weight:bold;color:#000000;line-height:23px}
.comment_update .comment_stit{margin-top:15px}
.comment_best{margin-top:28px}
.comment_lst li{position:relative;padding:14px 31px 12px 40px}
.comment_lst .thumb{top:13px}
.comment_lst .comm_top{font-size:0}
.comment_lst .nickname{font-size:15px;font-weight:bold;color:#000000;line-height:18px}
.comment_lst .comm_leave .nickname{color:#a4a6ab}

.comment_lst .btn_set{position:relative;margin-left:7px;padding:0 7px;font-size:13px;color:#6b6d71;line-height:16px;vertical-align:top}
.comment_lst .btn_set:before{position:absolute;top:3px;left:0;width:1px;height:12px;background:#e6e8eb;content:''}
.comment_lst .comm_btm{margin-top:8px;font-size:0}
.comment_lst .comm_btm .txt{display:inline-block;font-size:13px;color:#6b6d71;line-height:16px;vertical-align:top}
.comment_lst .comm_btm .txt:before{display:inline-block;width:16px;font-size:17px;color:#000000;text-align:center;opacity:.2;vertical-align:top;content:'\00b7'}
.comment_lst .comm_btm .txt:first-child:before{display:none}
.comment_lst .comm_btm .txt.time{color:#a4a6ab}
.comment_lst .comm_txt{margin-top:3px;font-size:15px;color:#000000;line-height:20px;word-break:break-all}
.comment_lst .flag_best{width:28px;height:15px;margin:-2px 0 1px;background-position:-191px -26px;vertical-align:middle}
.comment_lst .btn_like{position:absolute;top:29px;right:-8px;width:30px;height:30px;font-size:0}
.comment_lst .btn_like:before{width:14px;height:12px;background-position:0 -313px;content:'좋아요'}
.comment_lst .btn_like.on:before{background-position-x:-16px;content:'좋아요 완료'}
.comment_lst .comm_close .comm_txt{color:#838588}
.comment_area .loading{margin-top:30px;text-align:center}
.comment_area .loading span{display:inline-block;width:80px;height:80px;background:url(../img/loading.gif) no-repeat}

