@charset "utf-8";
.flag_best,.comment_lst .btn_like:before{display:inline-block;overflow:hidden;background:url(../img/sp.png) no-repeat;background-size:250px auto;width:1px;height:1px;font-size:1px;color:transparent;text-indent:-9999px}

/* 스토리네비 */
.snb_wrap{width:100%;padding:8px 0;background:#ffffff;border-bottom:1px solid #f0f0f0}
.snb_wrap:after{content:'';display:block;clear:both}
.snb_wrap .snb_lst li{float:left;width:auto !important;}
.snb_wrap .snb_lst li:first-child{margin-left:10px}
.snb_wrap .snb_lst li:last-child{margin-right:10px}
.snb_wrap .snb_lst li a{display:block;height:28px;margin-left:6px;padding:0 12px;border:1px solid #e6e8eb;border-radius:100px;font-size:14px;color:#000000;line-height:28px}
.snb_wrap .snb_lst li.on a{border:1px solid #578df6;background:#578df6;color:#ffffff}

/* 포스트 */
.post_wrap{position:relative;width:auto;margin:0 auto;background:#ffffff;font-size:0;line-height:0}
.post_wrap:after{content:'';display:block;clear:both;margin-left:-1px}
.story_post{overflow:hidden;position:relative;width:auto;height:auto;margin-top:0;margin-left:17px;padding-bottom:25px;border-top:1px solid #f1f1f1;border-right:0}
.story .post_wrap .section1:first-child .story_post:first-child,
.story .post_wrap .section2:first-child .story_post:first-child,
.story .post_wrap > div .story_post:first-child,
.curator_cnt .post_wrap .section1:nth-of-type(2n-1) .story_post:first-child{border-top:0}
.story_post .curator{position:relative;margin-top:30px;margin-right:17px}
.story_post .curator .profile{display:inline-block;height:32px}
.story_post .curator .profile .user:after{display:block;content:'';position:absolute;top:0;left:0;z-index:10;width:32px;height:32px;border:0.5px solid rgba(0,0,0,0.08);border-radius:150px;box-sizing:border-box}
.story_post .curator .profile .img{width:32px;height:32px;border-radius:150px}
.story_post .curator .profile .name{display:inline-block;padding:8px 0 0 8px;font-size:15px;font-weight:bold;color:#000000;line-height:17px}
.story_post .curator.comm_leave .profile .name{color:#a4a6ab}
.story_post .curator .story_save{position:absolute;top:4px;right:-5px;width:24px;height:24px;font-size:0}
.story_post .curator .story_save:after{top:0;left:0;width:24px;height:24px;background-position:-106px -134px}
.story_post .curator .story_save.on:after{background-position:-132px -134px}
.story_post .post_tit{display:inline-block;overflow:hidden;max-height:46px;margin-top:20px;margin-right:17px;font-size:19px;font-weight:bold;color:#000000;line-height:24px}
.story_post .post_con{display:-webkit-box;overflow:hidden;max-height:37px;margin:10px 17px 0 0;padding-bottom:2px;font-size:14px;color:#838588;line-height:18px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.story_post .post_thumb{display:block;overflow:hidden;position:relative;width:auto;margin-top:14px;margin-right:17px;border-radius:4px;background:#f6f7f8}
.story_post .post_thumb:before{content:'';display:block;position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;border:1px solid rgba(0,0,0,0.08);border-radius:4px;box-sizing:border-box}
.story_post .post_thumb img{width:100%;height:auto;border-radius:4px}
.story_post .post_thumb .post_cont{position:absolute;bottom:15px;left:0;z-index:10;width:100%}
.story_post .post_thumb:after{display:block;content:'';position:absolute;top:auto;bottom:-1px;left:0;z-index:0;width:100%;height:50%;background:linear-gradient(to top,rgba(0,0,0,.7),transparent 100%);border-top:0;border-radius:0 0 4px 4px}
.story_post .post_thumb .post_cont .site{padding-left:15px;font-size:11px;color:rgba(255,255,255,0.75);line-height:15px}
.story_post .post_thumb .post_cont .cont_tit{overflow:hidden;width:90%;padding-top:3px;padding-left:15px;font-size:15px;font-weight:bold;color:#ffffff;line-height:20px;white-space:nowrap;text-overflow:ellipsis}
.story_post.noimg{padding-right:17px}
.story_post.noimg .curator{margin-right:0}
.story_post.noimg .post_thumb{display:block;width:100%;margin-top:21px;padding:15px 0 17px;background:#fcfcfc;border:0.5px solid #e9e9e9;box-sizing:border-box}
.story_post.noimg .post_thumb:before{display:none;}
.story_post.noimg .post_thumb:after{background:none}
.story_post.noimg .post_thumb .post_cont{overflow:hidden;position:static;padding:0 13px;text-align:left;box-sizing:border-box}
.story_post.noimg .post_thumb .post_cont .site{padding-left:0;font-size:11px;color:#87888a;line-height:13px}
.story_post.noimg .post_thumb .post_cont .cont_tit{overflow:hidden;width:auto;max-height:18px;padding-top:5px;padding-left:0;font-size:15px;font-weight:bold;color:#000000;line-height:19px;white-space:normal;text-overflow:ellipsis}
.story_post .post_info{margin:15px 17px 0 0;line-height:20px}
.story_post .post_info .hashtag{overflow:hidden;width:100%;height:17px;font-size:14px;font-weight:bold;line-height:16px;white-space:nowrap;text-overflow:ellipsis}
.story_post .post_info .hashtag a{display:inline-block;padding-right:6px;color:#6b6d71}
.story_post .post_info .count{margin-top:15px}
.story_post .post_info .count p{display:inline-block;position:relative;margin-right:17px;padding-left:16px;font-size:12px;color:#6b6d71;line-height:15px}
.story_post .post_info .count .like:after{top:2px;left:0;width:12px;height:11px;background-position:-125px -18px}
.story_post .post_info .count .view:after{top:2px;left:0;width:13px;height:12px;background-position:-125px -31px}
.story_post .post_info .count .view{padding-left:18px}
/* 포스트:news */
.story_post.newspost .curator .profile .name{padding-top:0;line-height:15px}
.story_post.newspost .news_thumb{display:block;position:relative;width:100%;height:72px;margin:20px 17px 0 0;font-size:0;box-sizing:border-box;vertical-align:middle}
.story_post.newspost .news_thumb:after{display:inline-block;content:'';height:100%;vertical-align:middle}
.story_post.newspost .news_thumb .news_tit{display:inline-block;overflow:hidden;max-height:55px;padding-right:142px;font-size:18px;font-weight:bold;color:#000000;line-height:28px;vertical-align:middle}
.story_post.newspost .news_thumb .news_img{position:absolute;top:0;right:17px;width:100px;height:72px;background:#f6f7f8}
.story_post.newspost .news_thumb .news_img:after{display:block;content:'';position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;border:0.5px solid rgba(0,0,0,0.08);border-radius:4px;box-sizing:border-box}
.story_post.newspost .news_thumb .news_img .img{width:100px;height:72px;border-radius:4px}
.story_post.newspost .news_area{margin:16px 17px 5px 0;border-top:1px solid #e6e8eb}
.story_post.newspost .news_area li{overflow:hidden;margin-top:17px;font-size:15px;color:#000000;line-height:17px;white-space:nowrap;text-overflow:ellipsis}
.story_post.newspost .news_date{position:absolute;top:18px;left:41px;font-size:13px;color:#a4a6ab;line-height:15px}
/* 포스트:광고 */
.story_post.adpost .ad_txt{display:inline-block;padding-left:10px}
.story_post.adpost .ad_txt .txt_brand{font-size:15px;font-weight:bold;color:#000000;line-height:17px}
.story_post.adpost .ad_txt .txt{font-size:12px;color:rgba(164,166,171,0.5);line-height:14px}
.story_post.adpost .ad_tit_wrap{display:inline-block;margin-right:17px}
.story_post.adpost .ad_tit_wrap .ad_tit{width:100%;height:24px;margin-top:22px;font-size:19px;font-weight:bold;color:#000000;line-height:22px}
.story_post.adpost .ad_tit_wrap .ad_desc{display:-webkit-box;overflow:hidden;max-height:38px;margin-top:7px;font-size:14px;color:#838588;line-height:18px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.story_post.adpost .post_thumb{margin-top:14px}
.story_post.adpost .post_thumb .ad_trader{position:absolute;top:12px;right:0;width:58px;height:12px}
.story_post.adpost .more_area{margin:16px 17px 8px 0;text-align:right}
.story_post.adpost .btn_more{position:relative;width:auto;padding-right:12px;font-size:15px;font-weight:normal;color:#838588;line-height:17px}
.story_post.adpost .btn_more:after{top:50%;left:auto;right:0;width:6px;height:10px;margin-top:-5px;background-position:-223px -69px}
/* side */
.sidecnt{position:static;top:-1px;right:0;width:auto}
.sidecnt .h3_tit{display:block;height:auto;margin-left:17px;border-top:1px solid #f1f1f1;font-size:20px;font-weight:bold;line-height:22px}
.sidecnt ul{margin-left:17px}
.sidecnt ul li{position:relative}
/* side_랭킹 */
.sidecnt.ranking .h3_tit{padding:27px 0 29px;}
.sidecnt.ranking li{height:92px}
.sidecnt.ranking .rank_num{position:absolute;top:11px;left:0;width:20px;font-size:28px;line-height:20px;text-align:center}
.sidecnt.ranking .rank_info{position:relative;width:100%;}
.sidecnt.ranking .rank_info .cont{display:block;overflow:hidden;max-height:36px;margin:0 142px 0 33px;padding-top:6px}
.sidecnt.ranking .rank_info .cont span{display:block;width:100%;font-size:15px;line-height:19px}
.sidecnt.ranking .origin{display:inline-block;margin:16px 0 0 30px;font-size:13px;color:#a4a6ab;line-height:14px}
.sidecnt.ranking .thumb{position:absolute;top:0;right:17px}
.sidecnt.ranking .thumb:after{display:block;content:'';position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;border:0.5px solid rgba(0,0,0,0.08);border-radius:6px;box-sizing:border-box}
.sidecnt.ranking .thumb img{width:100px;height:73px;border-radius:6px}
/* side_묶음 */
.sidecnt.post_bundle .h3_tit{padding:34px 0 29px}
.sidecnt.post_bundle li{height:92px}
.sidecnt.post_bundle .post_bundle_info{margin-right:137px}
.sidecnt.post_bundle .post_bundle_info .cont{overflow:hidden;max-height:40px;padding-top:3px;font-size:15px;font-weight:normal;line-height:20px;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.sidecnt.post_bundle .post_bundle_info .origin{height:14px;padding-top:13px;font-size:13px;color:#6b6d71;line-height:14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.sidecnt.post_bundle .thumb{position:absolute;top:0;right:17px;background:#f6f7f8}
.sidecnt.post_bundle .thumb:after{display:block;content:'';position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;border:0.5px solid rgba(0,0,0,0.08);border-radius:6px;box-sizing:border-box}
.sidecnt.post_bundle .thumb img{width:100px;height:73px;border-radius:6px}
/* side_큐레이터추천 */
.sidecnt.curator .h3_tit{padding:35px 0 31px}
.sidecnt.curator .curator_lst li{height:82px;}
.sidecnt.curator .thumb{position:absolute;top:0;left:3px}
.sidecnt.curator .thumb:after{display:block;content:'';position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;border:0.5px solid rgba(0,0,0,0.08);border-radius:150px;box-sizing:border-box}
.sidecnt.curator .thumb img{width:60px;height:60px;border-radius:150px}
.sidecnt.curator .curator_info{padding:3px 127px 0 78px}
.sidecnt.curator .curator_info .cont{display:block;overflow:hidden;width:100%;height:16px;font-size:16px;font-weight:bold;line-height:16px;white-space:nowrap;text-overflow:ellipsis}
.sidecnt.curator .curator_info .category{overflow:hidden;width:100%;height:14px;margin-top:6px;font-size:13px;font-weight:bold;color:#a4a6ab;line-height:14px;white-space:nowrap;text-overflow:ellipsis}
.sidecnt.curator .curator_info .num{margin-top:5px;font-size:13px;color:#a4a6ab;line-height:14px;}
.sidecnt.curator .btn_follow{position:absolute;top:13px;right:17px;padding:9px 14px 8px 31px;background:#286ffa;border:1px solid #286ffa;border-radius:20px;font-size:13px;color:#ffffff;line-height:15px;text-align:left}
.sidecnt.curator .btn_follow:after{top:12px;left:20px;width:8px;height:8px;background-position:-44px -125px}
.sidecnt.curator .btn_follow.on{background:#ffffff;border:1px solid #d0dbf0;color:#286ffa;text-align:center}
.sidecnt.curator .btn_follow.on:after{left:19px;width:11px;height:8px;background-position:-44px -115px}
/* 발행버튼 */
.btn_story_plus{position:fixed;bottom:12px;right:11px;z-index:30;width:68px;height:68px;font-size:0}
.btn_story_plus:after{top:0;right:0;width:68px;height:68px;background-position:0 -358px}
/* 더보기버튼 */
.more_area{margin:12px 0 33px;text-align:center}
.btn_more{position:relative;width:64px;padding-right:19px;font-size:15px;font-weight:bold;color:#286ffa;line-height:16px}
.btn_more:after{top:3px;left:50px;width:13px;height:8px;background-position:-200px 0}
/* 배너 */
.bnr_area{display:inline-block;position:relative;width:100%;height:100px;text-align:center}
.bnr_area iframe {width:100%; height:100px;border:none;}
.post_wrap .bnr_area{margin-top:30px}
.bnr_area img{max-width:375px}
@media screen and (max-width:320px){
	.bnr_area img{max-width:320px}
}
/* 브릿지_상세*/
.content.storybridge{background:#ffffff}
.storybridge_detail{margin-bottom:-1px;padding-top:19px;border-bottom:1px solid rgba(0,0,0,0.2)}
.storybridge_detail .story_info{position:relative;height:32px;margin:0 17px}
.storybridge_detail .story_info .curator{display:inline-block;position:relative;height:32px;}
.storybridge_detail .story_info .curator .img{position:absolute;top:0;left:0;width:32px;height:32px;border-radius:150px}
.storybridge_detail .story_info .curator .name{display:inline-block;margin-left:42px;font-size:15px;font-weight:bold;color:#000000;line-height:17px}
.storybridge_detail .story_info .curator .date{margin:2px 0 0 42px;font-size:12px;color:#a4a6ab;line-height:14px}
.storybridge_detail .story_info .curator.comm_leave .name{margin-top:5px;color:#a4a6ab;}
.storybridge_detail .story_info .curator.comm_leave .date{display:none;}
.storybridge_detail .story_info .story_option{position:absolute;top:2px;right:-5px}
.storybridge_detail .story_info .story_option button{position:relative;width:22px;height:22px;font-size:0}
.storybridge_detail .story_info .story_option button:after{width:22px;height:22px}
.storybridge_detail .story_info .story_option .btn_share:after{background-position:0 -334px}
.storybridge_detail .story_info .story_option .btn_save{margin-left:17px}
.storybridge_detail .story_info .story_option .btn_save:after{background-position:-24px -334px}
.storybridge_detail .story_info .story_option .btn_save.on:after{background-position:-48px -334px}
.storybridge_detail .story_info .story_option .btn_option{margin-left:13px}
.storybridge_detail .story_info .story_option .btn_option:after{background-position:-72px -334px}
.storybridge_detail .story_cnt{padding:22px 17px 0 17px}
.storybridge_detail .story_cnt .story_tit{font-size:24px;font-weight:bold;color:#000000;line-height:30px}
.storybridge_detail .story_cnt .story_cont{margin-top:14px;font-size:16px;color:#000000;line-height:24px}
.storybridge_detail .story_cnt .story_cont img{width:auto; max-width:100% !important; height:auto !important;}
.storybridge_detail .story_cnt .origin_thumb{display:block;position:relative;z-index:0;margin-top:16px;border-radius:4px}
.storybridge_detail .story_cnt .origin_thumb:after{display:block;content:'';position:absolute;top:0;left:0;z-index:10;width:100%;height:100%;border:1px solid rgba(0,0,0,0.05);border-radius:4px;box-sizing:border-box;box-shadow:0 2px 6px 0 rgba(0,0,0,0.1)}
.storybridge_detail .story_cnt .origin_thumb .img{width:100%;border-radius:4px 4px 0 0}
.storybridge_detail .story_cnt .origin_thumb .origin_cont{position:relative;top:0;z-index:11;padding:13px 0 17px 15px;background:#ffffff;border-radius:0 0 4px 4px}
.storybridge_detail .story_cnt .origin_thumb .origin_cont .site{font-size:11px;line-height:13px;color:rgba(0,0,0,.4)}
.storybridge_detail .story_cnt .origin_thumb .origin_cont .cont_tit{margin-top:4px;padding-right:17px;font-size:17px;font-weight:bold;line-height:19px}
.storybridge_detail .story_cnt .hashtag{margin-top:17px;font-size:15px;font-weight:bold;line-height:24px}
.storybridge_detail .story_cnt .hashtag a{display:inline-block;margin-right:8px;color:#6b6d71}
.storybridge_detail .story_cnt .story_count{margin-top:25px}
.storybridge_detail .story_cnt .story_count p{display:inline-block;margin-right:10px;font-size:13px;color:#000000;line-height:15px}
.storybridge_detail .likeit_action{position:relative;width:100%;height:50px;margin-top:15px;border-top:1px solid #f2f2f2}
.storybridge_detail .likeit_action:after{content:'';display:block;clear:both;top:20px;left:50%;width:1px;height:17px;background:#ebebeb}
.storybridge_detail .likeit_action li{position:relative;float:left;width:50%;line-height:50px;text-align:center}
.storybridge_detail .likeit_action li button{position:relative;padding-left:29px;font-size:15px;line-height:22px}
.storybridge_detail .likeit_action li button:after{top:-2px;left:0;width:24px;height:24px}
.storybridge_detail .likeit_action .btn_like:after{background-position:-106px -108px}
.storybridge_detail .likeit_action .btn_hate:after{background-position:-158px -108px}
.storybridge_detail .likeit_action .btn_like.on{color:#fa2828}
.storybridge_detail .likeit_action .btn_hate.on{color:#000000}
.storybridge_detail .likeit_action .btn_like.on:after{background-position:-132px -108px}
.storybridge_detail .likeit_action .btn_hate.on:after{background-position:-184px -108px}
.storybridge_popup .popup_option{display:none;top:50%;left:73%;width:104px;box-shadow:1px 1px 10px rgba(0,0,0,.4)}
.storybridge_popup .popup_share{display:block;top:50%;left:-49%;box-shadow:1px 1px 10px rgba(0,0,0,.4)}
/* 브릿지_댓글 */
.comment_area{padding:0 17px 65px}
.comment_area .thumb{overflow:hidden;position:absolute;top:7px;left:0;width:32px;height:32px;border-top-left-radius:50%;border-top-right-radius:50%;border-bottom-right-radius:50%;border-bottom-left-radius:50%}
.comment_area .thumb img{width:100%;height:100%}
.comment_write{position:relative;padding:28px 0 3px}
.comment_tit{font-size:17px;font-weight:bold;color:#000000}
.comment_tit em{display:inline-block;padding-left:5px;color:#286ffa}
.comment_write .inp_write{position:relative;margin-top:13px;padding-left:42px}
.comment_write .inp_box{position:relative;background:#ffffff;border:1px solid #a4a6ab}
.comment_write .input_wrap{height:41px}
.comment_write .input_txt{width:100%;height:100%;padding:12px;border:none;background:transparent;font-size:15px;color:#000000;line-height:19px;box-sizing:border-box;-webkit-appearance:none}
.comment_write .input_txt::-webkit-input-placeholder{color:#ccced3}
.comment_write .letternum{display:none}
.comment_write .btn_reg{position:absolute;bottom:-1px;right:-1px;height:43px;padding:0 17px;background:#286ffa;font-size:15px;color:#ffffff}
.comment_write .inp_box.on .btn_area{border-top:1px solid #e3e3e3;padding:11px 12px 12px}
.comment_write .inp_box.on .letternum{display:block;font-size:12px;color:#a4a6ab;line-height:18px}
.comment_write .inp_box.on .input_wrap{height:136px}
.comment_stit{height:23px;font-size:14px;font-weight:bold;color:#838588;line-height:23px}
.comment_update .comment_stit{margin-top:15px}
.comment_best{margin-top:20px}
.comment_lst li{position:relative;padding:14px 31px 12px 40px}
.comment_lst .thumb{top:13px}
.comment_lst .comm_top{font-size:0}
.comment_lst .nickname{font-size:15px;font-weight:bold;color:#000000;line-height:18px}
.comment_lst .comm_leave .nickname{color:#a4a6ab}
.comment_lst .btn_set{position:relative;margin-left:7px;padding:0 7px;font-size:13px;color:#6b6d71;line-height:16px;vertical-align:top}
.comment_lst .btn_set:before{position:absolute;top:3px;left:0;width:1px;height:12px;background:#e6e8eb;content:''}
.comment_lst .comm_btm{margin-top:8px;font-size:0}
.comment_lst .comm_btm .txt{display:inline-block;font-size:13px;color:#6b6d71;line-height:16px;vertical-align:top}
.comment_lst .comm_btm .txt:before{display:inline-block;width:16px;font-size:17px;color:#000000;text-align:center;opacity:.2;vertical-align:top;content:'\00b7'}
.comment_lst .comm_btm .txt:first-child:before{display:none}
.comment_lst .comm_btm .txt.time{color:#a4a6ab}
.comment_lst .comm_txt{margin-top:3px;font-size:15px;color:#000000;line-height:20px;word-break:break-all}
.comment_lst .flag_best{width:28px;height:15px;margin:-2px 0 1px;background-position:-191px -26px;vertical-align:middle}
.comment_lst .btn_like{position:absolute;top:29px;right:-8px;width:30px;height:30px;font-size:0}
.comment_lst .btn_like:before{width:14px;height:12px;background-position:0 -313px;content:'좋아요'}
.comment_lst .btn_like.on:before{background-position-x:-16px;content:'좋아요 완료'}
.comment_lst .comm_close .comm_txt{color:#838588}
.comment_area .loading{margin-top:30px;text-align:center}
.comment_area .loading span{display:inline-block;width:80px;height:80px;background:url(../img/loading.gif) no-repeat}

/* 큐레이터홈 */
.curator_cnt{padding-top:29px}
.curator_info_area{text-align:center}
.curator_info_area .profile_thumb .img{width:124px;height:124px;border-radius:50%;}
.curator_info_area .curator_name{margin:31px 17px 0 17px;font-size:26px;font-weight:bold;color:#000000;line-height:28px}
.curator_info_area .curator_count{margin-top:7px}
.curator_info_area .curator_count .txt{display:inline-block;font-size:14px;color:#a4a6ab;line-height:16px}
.curator_info_area .curator_count .txt:last-child{margin-left:8px;padding-left:8px;background:url(../img/blt_dot.gif) 0 7px no-repeat}
.curator_info_area .btn_intro_write{display:inline-block;position:relative;margin-top:7px;padding-right:12px;font-size:15px;color:#6b6d71;line-height:17px}
.curator_info_area .btn_intro_write:after{top:1px;left:auto;right:0;width:7px;height:13px;background-position:-226px -31px}
.curator_info_area .curator_intro{overflow:hidden;margin:6px 17px 0;font-size:15px;color:#6b6d71;line-height:20px}
.curator_info_area .btn_follow{display:inline-block;position:relative;margin-top:23px;padding:7px 14px 7px 24px;background:#286ffa;border-radius:20px;font-size:13px;color:#ffffff;text-align:left}
.curator_info_area .btn_follow:after{top:11px;left:14px;width:8px;height:8px;background-position:-44px -125px}
.curator_info_area .btn_follow.on{background:#ffffff;border:1px solid #d0dbf0;color:#286ffa;text-align:center}
.curator_info_area .btn_follow.on:after{left:12px;width:11px;height:8px;background-position:-44px -115px}
.curator_info_area .btn_profile_edit{position:relative;margin-top:19px;padding:7px 13px 7px 30px;background:#ffffff;border:1px solid #ccced3;border-radius:20px;font-size:13px;color:#a4a6ab;letter-spacing:-1px;text-align:center}
.curator_info_area .btn_profile_edit:after{top:10px;left:15px;width:10px;height:11px;background-position:-200px -10px}
/* 큐레이터홈:스토리없을때 */
.nolist_area .nolist_txt{position:relative;margin:30px 17px 35px;padding-top:47px;font-size:15px;color:#a4a6ab;line-height:20px;text-align:center}
.nolist_area .nolist_txt:after{top:0;left:50%;width:32px;height:32px;margin-left:-16px;background-position:-190px -69px}
.nolist_area .add_cnt{display:block;position:relative;margin:30px auto 35px;padding-right:12px;font-size:15px;color:#286ffa;line-height:17px}
.nolist_area .add_cnt:after{top:1px;left:auto;right:0;width:7px;height:13px;background-position:-212px -10px}

/* 프로필수정 */
.profile_cnt .content{padding-bottom:100px}
.profile_cnt .footer{border-top:1px solid #e4e4e4}
.profile_cnt p.h3_tit{display:block;width:460px;margin:55px auto 0;padding-bottom:19px;border-bottom:1px solid #989898;font-size:26px;font-weight:bold;color:#000000;line-height:28px;text-align:center}
.profile_cnt .profile_thumb{position:relative;width:124px;margin:31px auto 0;text-align: center}
.profile_cnt .profile_thumb .thumb{width:124px;height:124px;border-radius:50%}
.profile_cnt .profile_thumb .profile_change{position:absolute;top:87px;left:89px;width:38px;height:38px;font-size:0;cursor:pointer}
.profile_cnt .profile_thumb .profile_change:after{content:'';display:block;width:38px;height:38px;background-position:-150px -69px}
.profile_cnt .profile_thumb .profile_change_inp{position:absolute;top:0;left:0;clip:rect(0,0,0,0);width:38px;height:38px}
.profile_cnt .profile_info{margin:32px 17px 0}
.profile_cnt .profile_info .tit{font-size:13px;color:#838588;line-height:15px}
.profile_cnt .profile_info .btn_msg_edit{display:block;position:relative;padding:15px 30px 10px 0;border-bottom:1px solid #e6e8eb;font-size:19px;color:#000000;line-height:24px}
.profile_cnt .profile_info .btn_msg_edit:after{top:auto;bottom:13px;left:auto;right:0;width:11px;height:19px;background-position:-235px -31px}
.profile_cnt .profile_info .msg_box{position:relative;padding:13px 30px 10px 0;border-bottom:1px solid #e6e8eb}
.profile_cnt .profile_info .msg_box.focusin{border-bottom:1px solid #286ffa}
.profile_cnt .profile_info .msg_box .inp_msg{width:100%;height:24px;border:0;font-size:19px;color:#000000;line-height:24px}
.profile_cnt .profile_info .msg_box .inp_msg::-webkit-input-placeholder{font-size:15px;color:#ccced3}
.profile_cnt .profile_info .msg_box .letternum{position:absolute;bottom:16px;right:0;font-size:13px;color:#ccced3;line-height:15px}
.profile_cnt .profile_info .msg_box .letternum em{color:#000000}
.profile_cnt .profile_info .msg_box .btn_msg_del{position:absolute;top:15px;right:0;width:18px;height:18px;font-size:0}
.profile_cnt .profile_info .msg_box .btn_msg_del:after{top:0;left:0;width:18px;height:18px;background-position:-230px -52px}
.profile_cnt .profile_info.intro{margin-top:29px}
.profile_cnt .msg_guide{margin-top:20px}
.profile_cnt .msg_guide li{font-size:13px;color:#838588;line-height:18px}
.profile_cnt .btn_save{display:inline-block;position:fixed;bottom:0;left:0;width:100%;height:60px;margin-top:37px;background:#286ffa;font-size:18px;color:#ffffff;line-height:58px;text-align:center}
/* 프로필수정:에러 */
.profile_cnt .nickname.error .msg_box{border-bottom:1px solid #fa2828}
.profile_cnt .nickname.error .msg_guide li{color:#fa2828}
/* 프로필수정:서비스탈퇴 */
.profile_cnt .btn_mem_leave{display:block;margin:51px 0 0 18px;font-size:15px;font-weight:300;color:#ccced3;line-height:17px;text-decoration:underline}
/* 스토리발행 */
.storypublish_cnt{padding-top:57px}
.storypublish_cnt .h2_tit{padding-top:3px;padding-left:17px;font-size:30px;font-weight:bold;color:#000000;line-height:36px}
.storypublish_wrap{padding:0 17px}
.storypublish_cnt .stit{font-size:14px;color:#6b6d71;line-height:16px}
.storypublish_cnt .msg_box{position:relative;border-bottom:1px solid #e6e8eb}
.storypublish_cnt .inp_msg{overflow:hidden;width:100%;border:0;color:#000000}
.storypublish_cnt .inp_msg::-webkit-input-placeholder{color:#ccced3}
/* 스토리발행:소개할링크 */
.storypublish_cnt .intro_link{margin-top:24px}
.storypublish_cnt .intro_link .msg_box.link_url{margin-top:16px;padding:0 0 9px 0}
.storypublish_cnt .intro_link .msg_box.link_url .txt_url{overflow:hidden;width:100%;font-size:17px;color:#000000;line-height:22px;white-space:nowrap;text-overflow:ellipsis}
.storypublish_cnt .intro_link .msg_box.link_url_inp{margin-top:16px;padding:0 80px 9px 0}
.storypublish_cnt .intro_link .msg_box.link_url_inp .inp_msg{height:22px;font-size:17px;line-height:22px}
.storypublish_cnt .intro_link .msg_box.link_url_inp .btn_url_del{display:none;position:absolute;top:2px;right:0;width:18px;height:18px;font-size:0}
.storypublish_cnt .intro_link .msg_box.link_url_inp .btn_url_del:after{top:0;left:0;width:18px;height:18px;background-position:-230px -52px}
.storypublish_cnt .intro_link .msg_box.link_url_inp.focusin{border-bottom:1px solid #286ffa}
/*.storypublish_cnt .intro_link .msg_box.link_url_inp.focusin .btn_url_del{display:block}*/
.storypublish_cnt .intro_link .msg_box.link_url_inp .btn_url_del.show{display:block}
.storypublish_cnt .intro_link .copied_url{display:none;height:70px;margin-top:13px;padding:17px 17px 0;background:rgba(236,236,236,0.32);box-sizing:border-box;}
.storypublish_cnt .intro_link .copied_url .stit{font-size:12px;color:#838588;line-height:14px}
.storypublish_cnt .intro_link .copied_url .url{display:block;overflow:hidden;width:100%;margin-top:4px;font-size:14px;color:#000000;line-height:16px;white-space:nowrap;text-overflow:ellipsis}
.storypublish_cnt .publish_url .btn_confirm{display:none}
/* 스토리발행:소개할내용 */
.storypublish_cnt .intro_subject{margin-top:40px}
.storypublish_cnt .intro_subject .subject_tit{margin-top:22px;padding-right:61px;padding-bottom:13px}
.storypublish_cnt .intro_subject .subject_tit .inp_msg{overflow:hidden;height:23px;font-size:19px;font-weight:bold;line-height:23px}
.storypublish_cnt .intro_subject .subject_tit .letternum{position:absolute;bottom:17px;right:0;font-size:13px;color:#ccced3;line-height:15px}
.storypublish_cnt .intro_subject .subject_tit .letternum em{color:#000000}
.storypublish_cnt .intro_subject .subject_cont{margin-top:19px;padding-bottom:30px}
.storypublish_cnt .intro_subject .subject_cont.on{padding-bottom:5px;border-bottom:0}
.storypublish_cnt .intro_subject .subject_cont.on .scrap{display:block}
.storypublish_cnt .intro_subject .subject_cont .inp_msg{overflow:hidden;height:23px;font-size:16px;line-height:23px}
/* 스토리발행:스크랩 */
.storypublish_cnt .scrap{display:none;position:relative;margin-top:16px}
.storypublish_cnt .scrap .img{width:100%;height:100%;border-radius:4px}
.storypublish_cnt .scrap .post_cont{overflow:hidden;position:absolute;bottom:0;left:0;width:100%}
.storypublish_cnt .scrap .post_cont:after{display:block;content:'';position:absolute;bottom:0;left:0;z-index:0;width:100%;height:100%;background:linear-gradient(to top,rgba(0,0,0,.7),transparent 100%);border-radius:4px}
.storypublish_cnt .scrap .site{position:relative;padding:0 15px 6px;font-size:11px;color:rgba(255,255,255,0.75);line-height:13px}
.storypublish_cnt .scrap .cont_tit{position:relative;z-index:10;width:100%;padding:0 15px 17px;box-sizing:border-box;font-size:15px;font-weight:bold;color:#ffffff;line-height:17px;word-break:break-all}
.storypublish_cnt .scrap.noimg{padding:16px 15px 19px;background:#fcfcfc;border:1px solid #e9e9e9;border-radius:4px}
.storypublish_cnt .scrap.noimg .site{position:relative;padding:0 0 5px 0;color:rgba(0,0,0,0.75)}
.storypublish_cnt .scrap.noimg .cont_tit{position:relative;z-index:10;width:100%;padding:0;color:#000000}

/* 스토리발행:태그 */
.storypublish_cnt .txt_placeholder{height:20px;padding:14px 0 20px;font-size:15px;color:#ccced3;line-height:20px}
.storypublish_cnt .choice_tags{display:none;padding:14px 0 20px;line-height:22px}
.storypublish_cnt .choice_tags .tag{display:inline-block;margin-right:5px}
.storypublish_tag .fixed.tag_header{margin-top:44px}
.storypublish_tag .fixed.tag_header .choice_tags_lst{border-bottom:0}
.storypublish_tag .tag_header{width:100%;background:#ffffff}
.storypublish_tag .tag_header .choice_tags_lst{padding:3px 0 6px 8px;border-bottom:1px solid rgba(0,0,0,0.1);font-size:0}
.storypublish_tag .tag_header .choice_tags_lst li{display:inline-block;position:relative;height:32px;margin-top:0;margin-bottom:8px;margin-left:9px;font-size:17px;font-weight:bold;color:#000000;line-height:32px}
.storypublish_tag .tag_header .choice_tags_lst li .txt_placeholder{height:19px;margin-top:7px;padding:0 0 17px;font-size:15px;font-weight:normal;color:#ccced3;line-height:19px}
.storypublish_tag .tag_header .choice_tags_lst li .inp_msg{resize:horizontal;width:60px;height:32px;border:0;font-size:15px;line-height:19px;}
.storypublish_tag .tag_header .choice_tags_lst li .inp_msg:active {width:auto;}
.storypublish_tag .tag_header .choice_tags_lst li .inp_msg:focus {min-width:60px;}
.storypublish_tag .tag_header .choice_tags_lst li .inp_msg::-webkit-input-placeholder{color:transparent}
.storypublish_tag .tag_header .choice_tags_lst li:first-child .inp_msg::-webkit-input-placeholder{color:#ccced3}
.storypublish_tag .tag_header .choice_tags_lst li .btn_url_del{display:none;position:absolute;top:2px;right:0;width:18px;height:18px;font-size:0}
.storypublish_tag .tag_header .choice_tags_lst li .btn_url_del:after{top:0;left:0;width:18px;height:18px;background-position:-230px -52px}
.storypublish_tag .tag_header .choice_tags_lst li .tag_mask{position: absolute;top: 0;left: 0;display:inline-block;width: 100%;height:20px;margin:0;padding:0;border:none;border-radius:0;background: #fff;font-size:17px;font-weight:bold;color:#000000;line-height:20px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.storypublish_tag .tag_header .choice_tags_lst li.cur{color:#6e9bf3}
.storypublish_tag .tag_header .choice_tags_lst li.cur .tag_mask{color:#6e9bf3}
.storypublish_tag .tag_header .choice_tags_lst li.tagit{display:inline-block;position:relative;height:32px;margin-top:0;margin-bottom:8px;margin-left:10px;font-size:15px;font-weight:normal;color:#000000;line-height:32px;background:#f2f4f9; border-radius:17px;padding:0 32px 0 10px;}
.storypublish_tag .tag_header .choice_tags_lst li.tagit .btn_del{position:absolute;top:7px;right:7px;width:18px;height:18px;text-indent:-9999px;}
.storypublish_tag .tag_header .choice_tags_lst li.tagit .btn_del:after{width:18px;height:18px;background-position:-231px -90px;}
.storypublish_tag .subject_tag{overflow:auto;}
.storypublish_tag .subject_tag .recomm_tag_layer{display:none;width:100%;height:100%;padding:16px 0 57px;box-sizing:border-box}
.storypublish_tag .subject_tag .recomm_tag_layer li{width:100%;}
.storypublish_tag .subject_tag .recomm_tag_layer li a{display:block;height:21px;padding:9px 17px;font-size:18px;color:#000000;line-height:21px;text-overflow:ellipsis;white-space:nowrap}
.storypublish_tag .subject_tag .recomm_tag_layer li:hover{background:#f2f2f2}
.storypublish_tag .subject_tag .recomm_tag_layer li .inp_word{background:transparent;color:#a4a6ab}
.storypublish_tag .subject_tag .recomm_tag_layer .recomm_tag_lst .null {margin:7px 17px 0 17px;} 
.storypublish_tag .subject_tag .recomm_tag_layer .recomm_tag_lst .null .tit{color:#000;font-size:18px;line-height:21px;}
.storypublish_tag .subject_tag .recomm_tag_layer .recomm_tag_lst .null .desc{margin-top:7px;color:#a4a6ab;font-size:14px;line-height:20px;}
/* 스토리발행:발행시간 */
.storypublish_cnt .publish_time{margin-top:30px}
.publish_time .time_wrap{margin-top:17px}
.publish_time .chk{position:absolute;top:3px;left:4px;z-index:0}
.publish_time .chk + label{display:inline-block;position:relative;z-index:10;padding-left:30px;background:url('../img/icon_chk3_off.png') 0 0 no-repeat;background-size:24px auto;font-size:14px;color:#000000;line-height:24px;cursor:pointer}
.publish_time .chk:checked + label{background:url('../img/icon_chk3_on.png') 0 0 no-repeat;background-size:24px auto}
.publish_time .time_now{display:inline-block;position:relative;margin-right:18px;margin-bottom:10px;}
.publish_time .time_reserv{display:inline-block;position:relative;}
.publish_time .time_reserv .txt{display:inline-block;border-bottom:1px solid #ebebeb;color:#000000}
.publish_time .time_reserv .txt:after{top:50%;left:auto;right:2px;width:18px;height:18px;margin-top:-12px;background-position:-86px -161px}
.publish_time .time_reserv .sel_date{display:inline-block;position:relative;margin-left:10px}
.publish_time .time_reserv .sel_date a{padding:0 28px 5px 1px;font-size:15px;line-height:17px}
.publish_time .time_reserv .sel_hour{display:inline-block;position:relative;margin-left:8px}
.publish_time .time_reserv .sel_hour a{padding:0 22px 5px 1px;font-size:14px;line-height:16px}
.publish_time .time_reserv .sel_date select,
.publish_time .time_reserv .sel_hour select{border:0 none;border-bottom:1px solid #ebebeb;border-radius:0;color:#000000;padding:0 20px 5px 1px;font-size:15px;line-height:17px;-webkit-appearance:none;-moz-appearance: none;appearance:none;background:url(../img/icon_sel_down.png) no-repeat right center;background-size:18px 18px;}
.publish_time .time_reserv .sel_hour select{padding:0 20px 5px 1px;font-size:14px;line-height:16px}
/*.publish_time .time_reserv input[type=radio]:checked +label + .sel_date{display:inline-block;}
.publish_time .time_reserv input[type=radio]:checked +label + .sel_date + .sel_hour{display:inline-block;}*/

/* 스토리발행:버튼 */
.storypublish_cnt .btn_area{width:100%;text-align:center}
.storypublish_cnt .btn_area button{width:100%;height:54px;background:#286ffa;font-size:18px;color:#ffffff;line-height:54px}
.storypublish_cnt .btn_area .btn_confirm{position:fixed;bottom:0;left:0;background:#dbdde2;font-size:18px;color:#a4a6ab} /* 확인 */
.storypublish_cnt .btn_area .btn_confirm.on{position:fixed;bottom:0;left:0;background:#286ffa;color:#ffffff}
.storypublish_cnt .btn_area .btn_publish{margin-top:48px} /* 발행 */
