@charset "utf-8";

.info_gra{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:linear-gradient(to bottom,#101112 10px,transparent 40%);opacity:1}
.tv_cnt{background:#101112}
.tv_cnt .header{border-bottom:0 none;}
/* tv홈:개별컨텐츠 */
.individ_lst{margin:0 0 0 17px;border-top:1px solid #1c1d1e;font-size:0}
.individ_lst:first-child{margin:35px 0 0 17px;padding-top:0;border-top:0}
.video_item{display:block;overflow:hidden;position:relative;width:auto;margin-top:50px;margin-right:17px}
.video_item .video_thumb{position:relative;z-index:10;width:auto;height:auto;background:#17191a}
.video_item .video_thumb img{width:100%;height:100%}
.video_item .video_thumb .video_hover{display:none;position:absolute;top:0;left:0;width:100%;height:100%}
.video_item .video_thumb .video_hover .video_play{display:block;position:relative;top:50%;left:50%;z-index:30;width:30px;height:40px;margin:-20px 0 0 -15px}
.video_item .video_thumb .video_hover .video_play:after{content:'';display:block;position:absolute;width:30px;height:40px;background-position:-237px 0}
.video_item .video_thumb .run_time{position:absolute;bottom:0;right:0;z-index:10;background:rgba(0,0,0,.5);color:rgba(255,255,255,.8);padding:3px 7px;height:14px;line-height:14px;font-size:12px;}
.video_item .item_tit.tit{display:-webkit-box;overflow:hidden;position:relative;bottom:0;left:0;z-index:20;width:auto;max-height:52px;margin-bottom:-20px;padding-top:21px;font-size:19px;font-weight:bold;color:#fffefe;line-height:26px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.video_item .item_tit.tit:after{top:0;left:0;width:17px;height:14px;background-position:-155px 0px}
.video_item .item_tit.origin_tit{display:block;overflow:hidden;width:auto;margin:16px 35px 0 0;font-size:15px;color:#838588;line-height:17px;text-overflow:ellipsis;white-space:nowrap}
.video_item .video_info{position:relative;margin-top:5px}
.video_item .video_info .video_view{margin-top:12px}
.video_item .video_info .program{display:inline-block;overflow:hidden;max-width:39%;margin-right:20px;font-size:13px;color:#838588;line-height:15px;text-overflow:ellipsis;white-space:nowrap}
.video_item .video_info .video_count{display:inline-block;vertical-align:top}
.video_item .video_info .video_count p{display:inline-block;font-size:13px;color:#838588;line-height:14px;vertical-align:top}
.video_item .video_info .video_count .view{position:relative;padding-left:13px}
.video_item .video_info .video_count .view:after{top:50%;left:0;width:9px;height:10px;margin-top:-5px;background-position:-214px -134px}
.video_item .video_info .video_count .like{position:relative;margin-left:16px;padding-left:15px}
.video_item .video_info .video_count .like:after{top:50%;left:0;width:11px;height:10px;margin-top:-5px;background-position:-225px -134px}
.video_item .video_save{position:absolute;top:-22px;right:0;width:13px;height:16px;font-size:0}
.video_item .video_save:after{top:0;left:0;width:13px;height:16px;background-position:-184px -134px}
.video_item .video_save.on:after{background-position:-199px -134px}
/* tv홈:개별컨텐츠광고 */
.video_item.aditem{margin-top:50px}
.video_item.aditem .ad_brand{position:relative}
.video_item.aditem .ad_brand .ad_txt{display:inline-block;padding:3px 0 0 10px}
.video_item.aditem .ad_brand .ad_txt .txt_brand{font-size:15px;font-weight:bold;color:#ffffff;line-height:17px}
.video_item.aditem .ad_brand .ad_txt .txt{padding-top:2px;font-size:12px;color:#838588;line-height:14px}
.video_item.aditem .ad_brand .btn_more{position:absolute;top:13px;right:0;padding-right:10px;font-size:13px;color:#838588;line-height:15px}
.video_item.aditem .ad_brand .btn_more:after{top:50%;left:auto;right:0;width:6px;height:10px;margin-top:-5px;background-position:-223px -69px}
.video_item.aditem .ad_tit_wrap{display:inline-block;margin-right:17px;font-size:15px;color:#e6e8eb}
.video_item.aditem .ad_tit_wrap .ad_tit{overflow:hidden;width:100%;height:18px;margin-top:15px;line-height:17px}
.video_item.aditem .ad_tit_wrap .ad_desc{overflow:hidden;max-height:38px;margin-top:0;line-height:20px}
.video_item.aditem .video_thumb{display:block;margin-top:14px}
.video_item.aditem .video_thumb .ad_trader{position:absolute;top:12px;right:0;width:58px;height:12px}
/* tv홈:묶음 */
.bundle_area{margin:50px 0 48px 18px;border-top:1px solid #1c1d1e}
.bundle_area .tit_area{display:table;position:relative;width:100%;height:40px;margin:50px 0 25px}
.bundle_area .tit_area .tit_txt{display:table-cell;padding:0 115px 0 50px;vertical-align:middle}
.bundle_area .tit_area .h3_tit{overflow:hidden;height:23px;padding:0;font-size:20px;font-weight:bold;color:#ffffff;line-height:22px}
.bundle_area .tit_area .desc{padding-top:2px;font-size:12px;color:#838588;line-height:14px}
.bundle_area .tit_area .thumb{position:absolute;top:0;left:0}
.bundle_area .tit_area .thumb img{width:40px;height:40px;border-radius:150px}
.bundle_area .tit_area .btn_allplay{position:absolute;top:4px;right:21px;width:85px;height:32px;padding-left:20px;background-color:rgba(255,255,255,0.15);border-radius:30px;font-size:12px;color:#ffffff;line-height:30px}
.bundle_area .tit_area .btn_allplay:after{top:9px;left:13px;width:14px;height:13px;background-position:-174px 0}
.bundle_area .tit_area .btn_more{display:block;position:absolute;top:12px;right:0;width:8px;height:15px;font-size:0}
.bundle_area .tit_area .btn_more:after{top:0;left:0;width:8px;height:15px;background-position:-190px 0}
.bundle_lst{margin-right:17px}
.bundle.video_item{display:table;position:relative;width:auto;height:75px;margin:0 0 18px;padding:0}
.bundle.video_item .video_info{display:table-cell;margin:0;vertical-align:middle}
.bundle.video_item .video_thumb{position:absolute;top:0;left:0;width:130px;height:73px;margin-top:0}
.bundle.video_item .item_tit.origin_tit{display:block;overflow:hidden;width:auto;max-height:40px;margin:0;padding:0;font-size:15px;color:#fffefe;line-height:21px;text-overflow:clip;white-space:normal}
.bundle.video_item .video_info{padding:0 0 0 143px}
.bundle.video_item .video_info .video_count{display:block;margin-top:12px}
.bundle.video_item .video_info .program{max-width:105px}
.bundle_area .more_area{position:relative;top:0;width:100%;padding-right:17px;text-align:center;box-sizing:border-box}
.bundle_area .btn_more{position:relative;width:63px;margin-top:15px;padding-right:19px;font-size:14px;font-weight:bold;color:#ffffff;line-height:16px}
.bundle_area .btn_more:after{top:10px;left:47px;width:13px;height:8px;background-position:-40px -12px}

/* tv홈:최신인기영상 */
.popular_lst{padding:0 0 0 17px;font-size:0}
.popular_area{padding-bottom:50px}
.popular_area .h3_tit{padding-left:42px;font-size:38px;font-weight:bold;color:#ddd}
.popular.video_item{width:auto;margin-top:50px;padding:0}
.popular.video_item a{position:relative}
.popular.video_item .video_thumb{width:auto;height:auto;margin-top:0}
.popular.video_item .item_tit.origin_tit{overflow:hidden;width:auto;max-height:42px;margin-top:13px;font-size:17px;color:#fffefe;line-height:22px;text-overflow:clip;white-space:normal}
.popular.video_item .video_info{position:static;margin-top:12px}
.popular.video_item .video_info .program{max-width:40%}
.popular.video_item .item_tit_area{display:block;position:relative}
.popular.video_item .item_tit_area .video_save{position:absolute;top:3px}
/* 공통 */
.ir,.tvend_cnt .play_count .ir,.main_video_info button:before,.mtit_area .btn_follow:before,.comment_lst .btn_like:before,.comment_no .txt:before{display:inline-block;overflow:hidden;background:url(../img/sp.png) no-repeat;background-size:250px auto;width:1px;height:1px;font-size:1px;color:transparent;text-indent:-9999px}
/* tv엔드공통 */
.tvend_cnt{overflow:hidden;height:100%;padding-top:44px;background:#101112;box-sizing:border-box}
.tvend_cnt .container{position:relative;top:0;height:100%;padding-top:56.27%;box-sizing:border-box}
.tvend_cnt .header{position:fixed;top:0;left:0;right:0}
.tvend_cnt .content{overflow-x:hidden;overflow-y:auto;z-index:10;height:100%;-webkit-overflow-scrolling:touch}
.tvend_cnt .play_count .ir{width:9px;height:10px;margin:-1px 4px 1px 0;background-position:-111px -27px;vertical-align:middle;content:''}
.has_app_banner.tvend_cnt{padding-top:114px;}
.has_app_banner.tvend_cnt .header{top:70px;}
/* tv엔드_메인영상 */
.main_video{position:fixed;top:48px;left:0;right:0;z-index:20;padding-top:56.27%}
.main_video .video_player{position:absolute;top:0;left:0;width:100%;height:100%}
.main_video .video_player .player{width:100%;height:100%}
.has_app_banner .main_video{top:118px;}

/* tv엔드_영상정보 */
.main_video_info .tit{display:-webkit-box;overflow:hidden;max-height:48px;padding:15px 17px 0;font-weight:bold;font-size:17px;color:#fff;line-height:24px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.main_video_info .meta_area{margin:4px 17px 0}
.main_video_info .play_count{font-size:13px;color:#6b6d71}
.main_video_info .btn_area{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;align-items:flex-start;margin:25px 20px 0;font-size:0;text-align:center}
.main_video_info .btn_area button{display:block;-webkit-box-flex:1;flex:1;font-size:12px;color:#ccced3;word-break:break-all}
.main_video_info .btn_like.on{color:#fa2828}
.main_video_info .btn_area button:before{display:block;height:22px;margin:0 auto 9px;content:''}
.main_video_info .btn_like:before{width:24px;background-position:-106px -45px;content:'좋아요'}
.main_video_info .btn_like.on:before{background-position-x:-132px;content:'좋아요 완료'}
.main_video_info .btn_hate:before{width:24px;background-position:-158px -45px;content:'싫어요'}
.main_video_info .btn_hate.on:before{background-position-x:-184px;content:'싫어요 완료'}
.main_video_info .btn_comment:before{width:25px;background-position:-141px -18px;content:'댓글'}
.main_video_info .btn_save:before{width:17px;background-position:-210px -45px}
.main_video_info .btn_share:before{width:21px;background-position:-168px -18px}
.main_video_info .tag_area{position:relative;margin:30px 0 -10px;padding:0 17px}
.main_video_info .tag_area:before,.main_video_info .tag_area:after{position:absolute;top:0;bottom:0;width:45px;content:''}
.main_video_info .tag_area:before{left:0;background-image:linear-gradient(to left,rgba(16,17,18,0),#101112 95%,#101112)}
.main_video_info .tag_area:after{right:0;background-image:linear-gradient(to right,rgba(16,17,18,0),#101112 95%,#101112)}
.main_video_info .relate_tag_lst{font-size:0;white-space:nowrap}
.main_video_info .relate_tag_lst li{display:inline-block;vertical-align:top}
.main_video_info .relate_tag_lst li+li{margin-left:10px}
.main_video_info .relate_tag_lst a{font-size:14px;color:#6b6d71;line-height:24px}
/* 20180115 added */
.main_video_info .channel_info {margin:16px 17px 0 17px; color:#6b6d71; font-size:14px;}
.main_video_info .desc {position:relative; margin:11px 17px 0 17px; padding-bottom:20px; color:#6b6d71; font-size:14px;}
.main_video_info .desc p{display:block;display:-webkit-box;width:100%; max-height:44px; line-height:22px; overflow:hidden; text-overflow:ellipsis; white-space:normal; word-wrap:break-word; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.main_video_info .desc.open{padding-bottom:0;}
.main_video_info .desc.open p{max-height:none;  overflow:visible; text-overflow:unset; display:block; -webkit-line-clamp:unset;}
.main_video_info .desc.open p:after {content:''; display:none;}
.main_video_info .desc .desc_more {position:absolute; bottom:0px; right:0; color:#286ffa; font-size:14px;}
.main_video_info .desc .empty{float:right; width:auto; display:inline-block;}
.main_video_info .desc .btn_more{display: inline;float: right;clear: right;color:#286ffa; font-size:14px;}
.main_video_info .desc.open .desc_more {display:none;}
.main_video_info .desc.open .btn {display:none;}
/* tv엔드_타이틀 */
.mtit_area{position:relative;margin:29px 0 0 17px;padding:17px 100px 15px 44px;border:1px solid #1c1d1e;border-width:1px 0}
.mtit_area.noline{border-bottom:0}
.mtit_area .h3_mtit{overflow:hidden;font-weight:normal;font-size:15px;color:#fff;white-space:nowrap;text-overflow:ellipsis;line-height:20px}
.mtit_area .h3_mtit a{color:#fff}
.mtit_area .follownum{margin-top:1px;font-size:13px;color:#838588;line-height:16px}
.mtit_area .thumb{position:absolute;top:18px;left:0}
.mtit_area .thumb img{width:34px;height:34px;border-top-left-radius:50%;border-top-right-radius:50%;border-bottom-right-radius:50%;border-bottom-left-radius:50%}
.mtit_area .btn_area{position:absolute;top:19px;right:17px}
.mtit_area .btn_follow{height:32px;padding:0 12px;border:1px solid #286ffa;background:#286ffa;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-right-radius:50px;border-bottom-left-radius:50px;font-size:13px;color:#fff;line-height:30px}
.mtit_area .btn_follow:before{position:relative;top:-1px;width:8px;height:8px;margin-right:4px;background-position:-44px -125px;content:''}
.mtit_area .btn_follow.on{border-color:#1a376f;background:transparent;color:#286ffa}
.mtit_area .btn_follow.on:before{width:11px;background-position-y:-115px}
/* tv엔드_묶음영상 */
.video_gather{padding:25px 0;background:#161719}
.video_gather .tit_area{position:relative;padding:0 17px;font-size:15px;color:#fff}
.video_gather .h4_tit{display:inline-block;overflow:hidden;max-width:65%;line-height:20px;white-space:nowrap;text-overflow:ellipsis}
.video_gather .cont_total{display:inline-block;margin-left:6px;vertical-align:top}
.video_gather .cont_total .emp{color:#286ffa}
.video_gather .continu_play{position:absolute;top:-4px;right:12px;padding:5px;font-size:11px;color:#838588;line-height:20px}
.video_gather .continu_play .state{color:#e6e8eb}
.video_gather .continu_play.on .state{color:#286ffa}
.video_gather_lst{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-flex-wrap:nowrap;flex-wrap:nowrap;margin:14px 17px 0 5px}
.video_gather_lst li{position:relative;margin-left:12px}
.video_gather_lst .video_link{display:block}
.video_gather_lst .video_thumb{position:relative;width:130px;height:73px;background:#17191a}
.video_gather_lst .video_thumb .img{width:100%;height:100%}
.video_gather_lst .video_thumb .run_time{position:absolute;bottom:0;right:0;background:rgba(0,0,0,.5);color:rgba(255,255,255,.8);padding:3px 7px;height:14px;line-height:14px;font-size:12px;}
.video_gather_lst .video_thumb:after{overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;background:url(../img/bg_playing.png) no-repeat center center;background-size:100% 100%;font-size:1px;line-height:999px}
.video_gather_lst .playing .video_thumb:after{display:block;content:'재생중'}
.video_gather_lst .video_info{margin-top:12px}
.video_gather_lst .video_info .tit{display:-webkit-box;overflow:hidden;max-height:36px;font-weight:normal;font-size:14px;color:#e6e8eb;line-height:18px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.video_gather_lst .video_info .play_count{display:block;margin-top:7px;font-size:12px;color:#838588}
/* tv엔드_추천동영상,인기동영상공통 */
.list_tab{margin:0 17px}
.main_video_info + .list_tab{margin-top:23px;}
.list_tab .tab{width:100%;padding-right:17px;box-sizing:border-box;border-bottom:1px solid #202122}
.list_tab .tab li{display:inline-block;text-align:center}
.list_tab .tab a{display:block;margin:0 25px -1px 0;padding:28px 1px 13px;font-size:16px;color:#838588;line-height:18px}
.list_tab .tab li.on a{border-bottom:1px solid #286ffa;font-weight:bold;color:#fff}
.end_video_list{padding:15px 0 32px 17px}
.end_video_list li{position:relative;min-height:71px;padding:2px 0 18px 142px}
.end_video_list .video_link{position:absolute;top:0;left:0}
.end_video_list .video_thumb{width:130px;height:73px;background:#17191a}
.end_video_list .video_thumb .img{width:100%;height:100%}
.end_video_list .run_time{position:absolute;bottom:0;right:0;z-index:30;background:rgba(0,0,0,.5);color:rgba(255,255,255,.8);padding:3px 7px;height:14px;line-height:14px;font-size:12px;}
.end_video_list .video_info{display:inline-block;position:relative;width:100%;padding-right:37px;vertical-align:middle;box-sizing:border-box}
.end_video_list .video_info .tit{display:-webkit-box;overflow:hidden;max-height:40px;margin-bottom:8px;font-weight:normal;font-size:15px;color:#e6e8eb;line-height:20px;word-break:break-all;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.end_video_list .detail{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;align-items:flex-start;margin-right:-20px}
.end_video_list .detail .logo{width:48px;height:21px}
.end_video_list .program,.end_video_list .play_count{display:block;font-size:13px;color:#838588;line-height:16px;white-space:nowrap}
.end_video_list .program{overflow:hidden;margin-right:14px;text-overflow:ellipsis}
.end_video_list .video_option{position:absolute;top:0;right:0;width:37px;height:19px;font-size:0}
.end_video_list .video_option .ir{width:3px;height:15px;background-position:-58px 0}
/* tv엔드_광고 */
.end_video_list .ad .video_info{padding-right:17px}
.ad .ad_brand .img{width:20px;height:20px}
.ad .ad_brand .brand_name{padding-left:6px;font-size:13px;color:#838588;line-height:21px}
.ad .ad_trader{position:absolute;top:50px;right:0}
/* tv엔드_광고팝업 */
.popup_ad{width:100%;height:100%;background:#101112}
.popup_ad .ad_wrap{position:absolute;top:50%;left:0;width:100%;margin-top:-28%;background:#101112;text-align:right}
.popup_ad .ad_wrap .ad_thumb{width:100%}
.popup_ad .ad_wrap .ad_thumb img{width:100%}
.popup_ad .ad_wrap .btn_more{position:relative;margin:24px 17px 0;padding-right:10px;font-size:15px;color:#e6e8eb;line-height:17px}
.popup_ad .ad_wrap .btn_more:after{top:50%;left:auto;right:0;width:6px;height:10px;margin-top:-5px;background-position:-223px -69px}
.popup_ad .btn_close{position:absolute;top:10px;left:10px;width:24px;height:24px;font-size:0}
.popup_ad .btn_close:after{position:absolute;top:0;left:0;width:24px;height:24px;background-position:-106px -212px}
/* tv엔드_댓글 */
.comment_area{padding:0 17px 65px}
.comment_area .thumb{overflow:hidden;position:absolute;top:7px;left:0;width:32px;height:32px;border-top-left-radius:50%;border-top-right-radius:50%;border-bottom-right-radius:50%;border-bottom-left-radius:50%}
.comment_area .thumb img{width:100%;height:100%}
.comment_write{position:relative;padding:25px 0 13px}
.comment_write .inp_write{position:relative;padding-left:42px}
.comment_write .inp_box{position:relative;background:#151617;border:1px solid #252729}
.comment_write .input_wrap{height:41px}
.comment_write .input_txt{width:100%;height:100%;padding:11px 12px 12px;border:none;background:transparent;font-size:15px;color:#e6e8eb;line-height:19px;box-sizing:border-box;-webkit-appearance:none}
.comment_write .input_txt::-webkit-input-placeholder{color:#6b6d71}
.comment_write .letternum{display:none}
.comment_write .btn_reg{position:absolute;bottom:-1px;right:-1px;height:43px;padding:0 19px;background:#286ffa;font-size:15px;color:#fff}
.comment_write .inp_box.on .btn_area{border-top:1px solid #1c1d1e;padding:12px}
.comment_write .inp_box.on .letternum{display:block;font-size:12px;color:#6b6d71;line-height:18px}
.comment_write .inp_box.on .input_wrap{height:136px}
.comment_stit{font-size:14px;font-weight:bold;color:#838588}
.comment_lst_wrap{padding-top:17px}
.comment_lst_wrap:first-of-type{margin-top:}
.comment_lst li{position:relative;padding:13px 31px 13px 40px}
.comment_lst .thumb{top:13px}
.comment_lst .comm_top{font-size:0}
.comment_lst .nickname{font-size:15px;font-weight:bold;color:#e6e8eb;line-height:19px}
.comment_lst .btn_set{position:relative;margin-left:7px;padding:0 7px;font-size:13px;color:#6b6d71;vertical-align:top}
.comment_lst .btn_set:before{position:absolute;top:3px;left:0;width:1px;height:12px;background:#fff;opacity:.1;content:''}
.comment_lst .comm_btm{margin-top:8px;font-size:0}
.comment_lst .comm_btm .txt{display:inline-block;font-size:13px;color:#838588;line-height:16px;vertical-align:top}
.comment_lst .comm_btm .txt:before{display:inline-block;width:16px;font-size:17px;color:#fff;text-align:center;opacity:.2;vertical-align:top;content:'\00b7'}
.comment_lst .comm_btm .txt:first-of-type:before{display:none}
.comment_lst .comm_txt{margin-top:3px;font-size:15px;color:#e6e8eb;line-height:20px;word-break:break-all}
.comment_lst .flag_best{width:28px;height:15px;margin:-2px 0 1px;background-position:-191px -26px;vertical-align:middle}
.comment_lst .btn_like{position:absolute;top:29px;right:-8px;width:30px;height:30px;font-size:0}
.comment_lst .btn_like:before{width:14px;height:12px;background-position:-44px -87px;content:'좋아요'}
.comment_lst .btn_like.on:before{background-position-y:-101px;content:'좋아요 완료'}
.comment_lst .comm_close .comm_txt{color:#838588}
.comment_lst .comm_leave .nickname{color:#838588}
/* .comment_best{margin-bottom:50px} */
.comment_area .loading{margin-top:30px;text-align:center}
.comment_area .loading span{display:inline-block;width:80px;height:80px;background:url(../img/loading.gif) no-repeat}
/* tv엔드_댓글없음 */
.comment_no{position:relative;padding:44px 0 86px;text-align:center}
.comment_no .txt{display:inline-block;font-size:15px;color:#6b6d71;line-height:22px;vertical-align:middle}
.comment_no .txt:before{display:block;width:42px;height:37px;margin:0 auto 15px;background-position:-106px -69px;content:''}

@media screen and (max-width:320px){
	.individ_lst:first-child{margin-top:26px}
	.video_item .item_tit.tit{bottom:0;max-height:40px;margin-bottom:-16px;padding-top:19px;font-size:16px;line-height:20px}
	.video_item .item_tit.tit:after{width:17px;height:14px;background-position:-122px 2px;background-size:200px auto;}
}
/* 배너 */
.bnr_area{display:block;position:relative;width:100%;height:50px;margin-top:28px;text-align:center}
.bnr_area iframe {width:100%; height:50px;border:none;}
.bnr_area + .mtit_area {margin-top:0; border-top:0;}
/* 방송관 리스트 */
.broadcast_list {margin-top:50px; background:#17181a; overflow-y:hidden; overflow-x:auto; font-size:0;-webkit-overflow-scrolling:touch}
.broadcast_list ul {width:658px; height:64px;padding:30px 0;}
.broadcast_list li {display:inline-block; width:64px; height:64px;margin:0 8px; border-radius:50%; background-color:#fff;background-repeat:no-repeat;background-position:center center; background-size:64px 33px;text-indent:-9999px;}
.broadcast_list li:first-child{margin-left:17px;}
.broadcast_list li:last-child{margin-right:17px;}
.broadcast_list .broad_01 {background-image:url(../img/logo_s_CC.png)}
.broadcast_list .broad_02 {background-image:url(../img/logo_s_CF.png)}
.broadcast_list .broad_03 {background-image:url(../img/logo_s_CD.png)}
.broadcast_list .broad_04 {background-image:url(../img/logo_s_CE.png)}
.broadcast_list .broad_05 {background-image:url(../img/logo_s_CG.png)}
.broadcast_list .broad_06 {background-image:url(../img/logo_s_C3.png)}
.broadcast_list .broad_07 {background-image:url(../img/logo_s_C2.png)}
.broadcast_list .broad_08 {background-image:url(../img/logo_s_C1.png)}